



  <div>
    <h1 id="heading">Related Courses</h1>
    <div class='nav-btn next-slide'></div>

    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
    <div ngxSlickItem *ngFor="let course of relatedCourses" class="slide">
      <div class="container">
        <div class="card-course">         
          <img id="img-card" src = "{{course.image}}" alt = "portfolio-image">
          <!-- <p id="card-content"><mat-card-subtitle>Course description</mat-card-subtitle></p> -->
          <p id="course-name"><mat-card-title>{{course.name}}</mat-card-title></p>
          <hr style="margin-top: 1%;margin-bottom: 1%">
          <mat-card-actions layout="row" layout-align="center">
            <div class="card-content">
              <div>
                <a href="#" class="card-action" style="float: left;">
                  <img src = "{{downloadImage}}" >Curriculum
                </a>
              </div>
              <div>
                <a href="#" class="card-action" style="float: right;">
                  <img id="tick" src = "{{tickImage}}" >Enroll
                </a>
              </div>
            </div>
          </mat-card-actions>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
  </div>


<!--     
            Other Relevant Courses Ends
    
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
    