.content {
    overflow: scroll;
    height: auto;
    width: 250px;
    margin-left: 22px;
}
.container{
    height: 500px;

}

/* .heading {
     margin-left: 18px;
}*/

.mat-sidenav-container{
    height: 100%;
}

.mat-sidenav, .mat-sidenav-content{
    height: 100%;
    padding: 16px;
}
.mat-sidenav {
    width: 300px;
}