<body>
    <div data-aos="zoom-in" data-aos-delay="2000" data-aos-offset="100"></div>
    <div class="container-fluid courses5">
      <app-navbar></app-navbar>
      <h1 class="sub-head">Sub Programs</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 ccontent">
                    <h3>FullStack</h3>
                <p>
                 FullStack Developers are computer programmers who are proficient in both front and back end coding. Their primary responsibilities include designing user interactions on websites, developing servers and databases for website functionality and coding for mobile platforms.
                </p>
                </div>
                <div class="col-lg-4 cimage">
                    <img src="../../assets/program/subprogram/fullstack.jpg" />
                </div>
            </div>
            <h1 class="lasthead">Courses Listing:</h1>
        </div>
        <mat-grid-list cols="3" rowHeight="300px" [gutterSize]="'8px'">
            <mat-grid-tile>
                <mat-card class="course-card">
                    <mat-card-content>
                        <img mat-card-image id="courseimg" src="../../assets/program/subprogram/core-java.jpg" alt="core java"/>
                        <mat-card-title>Core java</mat-card-title>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="course-card">
                    <mat-card-content>
                        <img mat-card-image id="courseimg" src="../../assets/program/subprogram/dotnetcore.jpeg" alt="core java"/>
                        <mat-card-title>.NetCore</mat-card-title>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="course-card">
                    <mat-card-content>
                        <img mat-card-image id="courseimg" src="../../assets/program/subprogram/mevn.jpg" alt="core java"/>
                        <mat-card-title>MEVN</mat-card-title>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="course-card">
                    <mat-card-content>
                        <img mat-card-image id="courseimg" src="../../assets/program/subprogram/advanced1.png" alt="core java"/>
                        <mat-card-title>Advanced java</mat-card-title>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="course-card">
                    <mat-card-content>
                        <img mat-card-image id="courseimg" src="../../assets/program/subprogram/mean1.jpg" alt="core java"/>
                        <mat-card-title>MEAN</mat-card-title>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="course-card">
                    <mat-card-content>
                        <img mat-card-image id="courseimg" src="../../assets/program/subprogram/golang.png" alt="core java"/>
                        <mat-card-title>Golang</mat-card-title>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="course-card">
                    <mat-card-content>
                        <img mat-card-image id="courseimg" src="../../assets/program/subprogram/full stack.net.jpg" alt="core java"/>
                        <mat-card-title>.Net</mat-card-title>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="course-card">
                    <mat-card-content>
                        <img mat-card-image id="courseimg" src="../../assets/program/subprogram/measn.jpg" alt="core java"/>
                        <mat-card-title>MEASN</mat-card-title>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="course-card">
                    <mat-card-content>
                        <img mat-card-image id="courseimg" src="../../assets/program/subprogram/ruby1.jpg" alt="core java"/>
                        <mat-card-title>Ruby</mat-card-title>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
       
  <!---footer section start--->
  
  <!---------------------FOOTER STARTS--------------------->
  <app-footer></app-footer>
  </div>
  </body>
  <!-------------------FOOTER END-------------------------->
  
  <!--<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
  <script>
    var swiper = new Swiper('.swiper-container', {
      loop: true,
      autoplay: {
          delay: 1500,
          disableOnInteraction: false,
        },
      slidesPerView: 1,
      spaceBetween: 10,
      // init: false,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      breakpoints: {
        640: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 4,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView: 5,
          spaceBetween: 50,
        },
      }
    });
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>-->
  
  