<body>
    <div data-aos="zoom-in" data-aos-delay="2000" data-aos-offset="100"></div>
    <div class="container-fluid courses5">
      <app-navbar></app-navbar>
      <h1 class="sub-head">Sub Programs</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 ccontent">
                    <h3>{{selectedSubprogram}}</h3>
                <p>
                    {{description}}
                </p>
                </div>
                <div class="col-lg-4 cimage">
                    <img src={{image}} />
                </div>
            </div>
            <h1 class="lasthead">Courses Listing:</h1>
        </div>
        <div *ngFor="let course of courses" class="slide">
            <mat-grid-list cols="3" rowHeight="300px" [gutterSize]="'8px'">
                <mat-grid-tile>
                    <mat-card class="course-card">
                        <mat-card-content>
                            <img mat-card-image id="courseimg" src="{{'/' + course.image}}" alt="core java"/>
                            <mat-card-title>{{course.name}}</mat-card-title>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </div>

       
  <!---footer section start--->
  
  <!---------------------FOOTER STARTS--------------------->
  <app-footer></app-footer>
  </div>
  </body>
  <!-------------------FOOTER END-------------------------->
  
  <!--<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
  <script>
    var swiper = new Swiper('.swiper-container', {
      loop: true,
      autoplay: {
          delay: 1500,
          disableOnInteraction: false,
        },
      slidesPerView: 1,
      spaceBetween: 10,
      // init: false,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      breakpoints: {
        640: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 4,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView: 5,
          spaceBetween: 50,
        },
      }
    });
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>-->
  
  