<!-- <body> -->
    <div class="container-fluid courses5">
      <app-navbar></app-navbar>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 ccontent">
                    <h3>{{selectedSubprogram}}</h3>
                <p>
                    {{description}}
                </p>
                </div>
                <div class="col-lg-4 cimage">
                    <img src={{image}} />
                </div>
            </div>
        </div>
        <div style="padding-left: 100px; padding-right: 100px; padding-top: 40px;">
          <mat-grid-list cols="4" rowHeight="200px" [gutterSize]="'8px'">
            <mat-grid-tile *ngFor="let course of courses" class="slide">
              <div class ="container">
                <div class="second">
                  <div class="third" >
                      <button><img src={{course.image}}></button>
                  </div>
                  <div class="four">
                      <p>{{course.name}}</p>
                  </div>
                 </div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>

        </div>

       
  <!---footer section start--->
  
  <!---------------------FOOTER STARTS--------------------->
  <app-footer></app-footer>
  </div>
  <!-- </body> -->
  <!-------------------FOOTER END-------------------------->
  
  <!--<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
  <script>
    var swiper = new Swiper('.swiper-container', {
      loop: true,
      autoplay: {
          delay: 1500,
          disableOnInteraction: false,
        },
      slidesPerView: 1,
      spaceBetween: 10,
      // init: false,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      breakpoints: {
        640: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 4,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView: 5,
          spaceBetween: 50,
        },
      }
    });
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>-->
  
  