
  .ccontent {
    width: 100%;
    height: auto;
    background-color: #1971e152;
    margin-top: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .ccontent h3 {
    color: #292C7D;
    font-size: 40px;
    font-weight: bold;
    height: auto;
    margin-top: 30px;
    display: flex;
    justify-content: left;
    font-family: Arial, Helvetica, sans-serif;

  }
  .ccontent p {
    font-size: 25px;
    /* margin-left: 20px; */
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
  }


  .cimage {
    width: 100%;
    height: auto;
    margin-top: 20px;
    background-color: #1971e152;
  }

  .cimage img {
    width: 100%;
    padding: 40px 20px 0px 20px;
    height: 200px;
  }

  .courses5 {
    padding: 0px !important;
    margin-bottom: 20px;
  }    

  #h {
    width: 100%;
    height: auto;
    letter-spacing: normal;
    text-align: center;
    font-size: 30px !important;
    margin-top: 25px;
  }


  .second {
    width: 250px;
    height: 150px;
    border: 1px solid blue;
    background-color: white;
    overflow: hidden;
    padding: 0px;
  }
  
  .container{
    height: auto;
    width: auto;
    align-content: center;
    transition: transform 0.2s; 
    }
  
  .second:hover {
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.698), 0 6px 6px 0 rgba(0, 0, 0, 0.651);
    transform: scale(1.05);
  }

  .third img {
    width: 100%;
    min-width: 100%;
    height: 110px;
  }

  .four {
    width: 100%;
    height: 30%;
    text-align: center;
  }

  .four p {
    margin-top: 15px;
    font-weight: bold;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
  }

