
   .second {
    width: 95%;
    height: 250px;
    border: 1px solid black;
    margin: 5px;
    background-color: white;
    overflow: hidden;
    /* border-radius: 20px; */
  }
  
  /* .second a:hover {
    text-decoration: none;
  } */
  
  .second:hover {
    box-shadow: 5px 5px 19px 5px;
    /* transform: scale(1); */
  }

  .second p {
    color: black;
    font-weight: bold;
    text-align: center;
  }
  

  .third {
    width: 100%;
    height: 70%;
  }
  .third img {
    width: 100%;
    min-width: 100%;
    height: 200px;
    border:solid;
    /* border-radius: 20px 20px 0px 0px; */
  }

  .four {
    width: 100%;
    height: 30%;
    text-align: center;
  }
  .four p {
    margin-top: 35px;
    text-transform: capitalize;
    font-weight: bold;
  }

  #h {
    width: 100%;
    height: auto;
    letter-spacing: normal;
    text-align: center;
    background-color: #292C7D;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px;
    text-align: center; 
    color: white;
  }

