<nav class="navbar navbar-expand-sm">
  
  <a class="navbar-brand" href="admin-dashboard">
    <img src="../assets/Caramel-Horz.png" alt="logo" style="width:240px; height:65px; margin:0px 0px 0px 0px;">
  </a>
 </nav>
<div align="center">
    <h3>Question Bank</h3>
    
    <br/><br/>
<table id="questions">
    <tr>
      <th *ngFor="let col of columns">
        {{col}}
      </th>
    </tr>
    <tr *ngFor="let question of questions">
      <td *ngFor="let col of index">
        {{question[col]}}
      </td>
    </tr>
  </table>
  <button class="btn btn-primary" routerLink="/admin-dashboard">Back to Admin Dashboard</button>
</div>
