
#content{
	text-align: center;
	font-size: 20px;
	background-color: #f7faf8;
	margin: auto;
	padding-top: 5%;
}

p#ques {

  border: 2px solid brown;
  border-radius: 8px;
  text-align: left;
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 2%;
  margin-bottom: 5%;
  margin-top: 5%;
  margin-right: 8%;
  margin-left: 8%;
  color: blue;
}

p#skill {
	background-color: brown;
	color: white;
	font-size: 20px;
	margin: auto;
	text-align: center;
	padding: 2%;
	border-radius: 8px;
	width: 70%;
	margin-top: 10%;
}

#btn-skill {
	margin: 2%;
	background-color: #cdf7f2;
	color: brown;
	border-color: #1207e8;
	box-shadow: 3px 3px #888888;
}


#skill{
	
	font-size: 20px;
	background-color: #f7faf8;
	margin: auto;
	padding-top: 5%;
	padding-bottom: 5%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 230px;
  border-radius: 5px;
  margin-top: 10%;
  font-size: 16px;
 text-align: center;
  padding: 3%;
  color: brown;
   border: 1px solid brown;
   
}

#sendDoubt {
	float: right;

}

#txt{
	float: left;
}

#textDisp {
	text-align: left;
	margin-left: 8%;
	margin-right: 8%;
}