<app-navbar></app-navbar>
<app-top-transformation></app-top-transformation>
<app-why-caramel-it></app-why-caramel-it>

<!-- -----------------FEATURE START------------------------
<section class="feature-section" id="feature">
    <div class="container-fluid">
        <div class="row">
            <div class="no-margin col-lg-4 col-md-6 col-12">
                <img src="../../assets/imagesacad/show5.png" class="img-fluid">
            </div>
            <div class="col-lg-8 col-md-8 col-12">
                <h2 class="font-weight-bold tophead2">WHY CARAMEL IT </h2>
                <p class="para-side">SHOW MORE</p><button class="collapse-btn" data-toggle="collapse" data-target="#demo"><img src="/../../assets/imagesacad/drop-down-arrow.png" alt="" srcset=""></button>
            </div>
        </div>
    </div>
    <div>
        <a href="https://caramelit.com/"><img id="demo" class="collapse" src="./../../assets/imagesacad/caramelitservices.png"></a>
    </div>
</section> -->
<!-------------------FEATURE END-------------------------->

<!-------------------JOINING START-------------------------->


<!-------------------JOINING END-------------------------->
<!-------------------WORKING START-------------------------->
<div class="row py-5" id="learnmore">
    <div class=" col-lg-4 col-md-6 col-12 ">
        <!-- <img src="../../assets/imagesacad/show18.png" class="img-fluid imgwidth"> -->
        <img src="../../assets/imagesacad/show11.png" class="mx-0 px-0" style="width: 100%!important;height: 100% !important;">

    </div>
    <div class="col-lg-8 col-md-6 col-12">

        <h2 class="font-weight-bold tophead1" style="color: rgba(124,77,255 ,1)">LET US KNOW MORE ABOUT YOU</h2>
    </div>
</div>
<div class="container-fluid">
    <div class="row ">

        <div id="no-space" class="col-md-12 col-lg-12 col-12">
            <div class="middleblock">
                <br>
                <div style="text-align: center;">
                    <div class="sel sel--black-panther" onclick="vis();">
                        <mat-select name="select-profession" id="select-profession" onclick="vis();">
                            <mat-option value="going-back" onclick="mis();">Select your Option</mat-option>
                            <mat-option value="hacker" onclick="vis();">Student (with no IT Knowledge)</mat-option>
                            <mat-option value="gamer" onclick="vis();">Student (with some IT Knowledge)</mat-option>
                            <mat-option value="developer" onclick="vis();">Professional (with no IT Experience)</mat-option>
                            <mat-option value="programmer" onclick="vis();">Professional (with IT Experience)</mat-option>
                        </mat-select>
                    </div>
                    <hr class="rule">
                </div>

                <div id="middlebox">
                    <a href="https://caramelit.com/">
                        <div class="counselling">
                            <h2>COUNSELLING</h2>
                            <br>
                        </div>
                    </a>
                    <div style="display:flex;align-items:flex-end;">
                        <img src="./../../assets/imagesacad/arrow.png" class="midarrow" style="width:8%;height:8%">
                        <div class="eval">
                            <a href="https://caramelit.com/">
                                <h2>PROFILE EVALUATION</h2>
                            </a>
                            <br>
                        </div>
                    </div>
                    <div style="display:flex;align-items:flex-end;margin-left:33%">
                        <img src="./../../assets/imagesacad/arrow.png" class="midarrow">
                        <div class="recommend">
                            <a href="https://caramelit.com/">
                                <h2>RECOMMENDATION</h2>
                            </a>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="enrollment">
                    <a href="#">
                        <h1>ENROLLMENT</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-howwework></app-howwework>
<app-ourprogram></app-ourprogram>
<app-whatwework></app-whatwework>
<app-footer></app-footer>