* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    /*overflow-x: hidden;*/
  }
  html,
  body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  /*nav.shrink{
    background:white;
    /*padding: 0px;}*/
  
  /*.body-overflow{overflow-x: hidden;}*/
  /**************************header-section start***********************************/
  .acaheader {
    width: 100%;
    height: auto;
  }
  .bg {
    background-color: #292c7d;
  }
  .learn3 {
    margin-left: 175px;
  }
  .learn2 {
    margin-left: 175px;
  }

  #homeid1 {
    margin-top: 40px;
    height: 400px;
  }
  #homeid {
    margin-top: 40px;
    height: auto;
  }
  .text5 {
    padding: 0px !important;
  }
  .banner3 {
    margin-top: 8px;
    color: #636161;
  }

  .banner3 h1 {
    margin: 30px 0 40px;
    font-weight: 600;
    font-size: 45px;
    text-align: center;
  }

  .banner3 p {
    font-size: 24px;
    text-align: justify;
  }
  
  /*.banner img {
  max-height: 500px;
  }*/
  @media (max-width: 375px) {
    .banner3 a {
      padding: 15px 13px;
    }
    #socialmedia a {
      margin-left: -5px !important;
      font-size: 0px !important;
      color: #292c7d;
    }
    #socialmedia1 a {
      margin-left: -5px !important;
      font-size: 0px !important;
      color: #292c7d;
    }
  }
  
  .banner3 a {
    padding: 15px 13px;
    display: inline-block;
    color: black;
    border: 1px solid #6900d1;
    text-align: center;
    /* margin-top: 25px; */
    /* margin-left: 10px; */
    font-weight: 300;
    margin: 8px 8px;
    font-family: "Montserrat", arial;
  }
  .banner3 a:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #6900d1;
    padding: 15px 13px;
  }
  .owl-carousel .owl-stage-outer {
    height: 180px;
  }
  /*.banner2 {
  position: absolute;
  bottom: 174px;
  left: 300px;
  }*/
  @media screen and (max-width: 500px) {
    .tophead2 {
      text-align: center;
      margin-top: 20px !important;
    }
    .tophead1 {
      text-align: center !important;
    }
    .imgwidth {
      width: 85%;
      float: right;
    }
    .accordion {
      width: 95% !important;
    }
    #homeid h1 {
      font-size: 30px !important;
      margin-top: -30px !important;
    }
    #homeid1 h1 {
      font-size: 30px !important;
      margin-top: -30px !important;
    }
  
    .first {
      margin: 0px;
    }
    .banner3 h1 {
      margin: -40px 0 30px 0px !important;
      font-weight: 600 !important;
      font-size: 35px !important;
      text-align: center;
    }
    .banner3 img {
      margin-top: -40px;
    }
  
    .banner3 p {
      font-size: 20px !important;
      text-align: justify;
      padding: 0px 5px;
      margin-top: -10px;
    }
    /* .banner3 a{ */
    /* padding: 15px 20px; */
    /* margin-left: 22px; */
    /* } */
  }
  .header-section {
    min-height: 60vh;
  }
  /**************************header-section end***********************************/
  /**************************feature-section start***********************************/
  /*.feature1{
    margin-left: 50px;
  }*/
  #feature {
    margin-top: 5%;
    position: relative;
  }
  @media (max-width: 768px) {
    #feature {
      margin-top: 60%;
      padding: 40px;
      position: relative;
    }
  }
  .padd {
    text-align: justify;
  }
  #know {
    font-size: 24px;
    color: blue;
    float: right;
    margin-right: 50px;
    text-decoration: none;
  }
  #whywe {
    margin-top: 50px;
  }
  .tophead2 {
    margin-top: 50px;
    width: 20vw;
    padding-right: 0;
    margin-right: 0;
  }
  @media (max-width: 375px) {
    .padd {
      text-align: justify;
    }
    #whywe {
      margin-top: 80px;
    }
    #know {
      margin-right: 0px !important;
    }
  }
  @media only screen and(max-width: 500px) {
    .tophead h2 {
      text-align: center !important;
    }
    .padd {
      margin-right: 10px;
      text-align: justify;
    }
    .feature1 h1 {
      margin-top: 30px;
    }
    /* .padd h1{font-size: 30px;margin-top: 0px;} */
  }
  @media (max-width: 800px) {
    .learn3 {
      margin-left: 0px;
    }
    .learn2 {
      margin-left: 0px;
    }
  }
  /**************************feature-section end***********************************/
  /**************************covering-section start***********************************/
  .show {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .num1 {
    position: absolute;
    top: 15%;
    left: 35%;
    font-size: 30px;
  }
  .num2 {
    position: absolute;
    top: 15%;
    left: 42%;
    font-size: 30px;
  }
  .num3 {
    position: absolute;
    top: 15%;
    left: 40%;
    font-size: 30px;
  }
  @media (max-width: 500px) {
    .num1 {
      left: 30%;
      top: 13%;
      font-size: 24px;
    }
    .num2 {
      top: 12%;
      left: 37%;
      font-size: 25px;
    }
    .num3 {
      top: 13%;
      left: 40%;
      font-size: 22px;
    }
    .headfont {
      font-size: 12px;
    }
  }

  .float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 80px;
    right: 30px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
  }
  
  .my-float {
    margin-top: 16px;
  }
  @media (max-width: 500px) {
    .float {
      left: 10px;
      bottom: 15px;
    }
  }

  /*************************************our programs css**********************************************************/

  /***************************search bar closes***************************************/
  #main1 {
    width: 100%;
    height: 500px;
  }
  .second {
    width: 95%;
    height: 100%;
    border: 1px solid black;
    margin: 5px;
    background-color: white;
    border-radius: 20px;
  }
  
  .second a:hover {
    text-decoration: none;
  }
  
  .second:hover {
    box-shadow: 5px 5px 19px 5px;
    transform: scale(1);
  }
  .second p {
    color: black;
    font-weight: bold;
    text-align: center;
  }
  .third {
    width: 100%;
    height: 70%;
  }
  .third img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
  }
  .four {
    width: 100%;
    height: 30%;
  }
  .four p {
    margin-top: 10px;
    text-transform: capitalize;
    font-weight: bold;
  }
  #read {
    margin-left: 28%;
    background-color: #007bff94;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
  }
  #readmore {
    display: none;
  }
  
  @media (max-width: 768px) {
    #read {
      width: 60%;
      height: auto;
      padding: 5px;
      margin-left: 50px;
      margin-bottom: 15px;
    }
    .know {
      margin-left: 15px;
    }
    .tablink {
      width: 50%;
      height: 40px;
    }
    .tablink h3 {
      font-size: 13px;
    }
    .second {
      width: 100%;
      height: 153px;
      margin: 0px 30px 30px 0px;
      border-radius: 10px;
    }
    .nav-img {
      width: 100%;
      height: 300px;
    }
    .skill-dev {
      margin-top: 20px;
    }
  }
  @media (max-width: 450px) {
    .second {
      width: 100%;
    }
    .owl-carousel .owl-stage-outer {
      height: 160px;
      width: 100%;
      margin-left: 10px;
    }
    .item img {
      height: 30%;
    }
    .third img {
      border-radius: 10px 10px 0px 0px;
    }
    .four {
      border-radius: 20px !important;
    }
  }
  
  /*@media (max-width: 1500px){
    #carousel-2 > div{
      height: 500px !important;
      width: 300px !important;
    }
  }*/
  
  .num1 {
    position: absolute;
  }
  
  .third {
    height: 100px;
  }
  .four {
    height: 58px !important;
    border-radius: 20px;
  }
  .four p {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
  }
  #searchbar input[type="text"]:focus {
    width: 40%;
  }
  #searchbar input[type="text"] {
    width: 55%;
    -webkit-transition: width 0.1s ease-in-out;
    transition: width 0.1s ease-in-out;
  }

  .social-icons:hover {
    color: rgba(76, 175, 80, 1) !important;
  }
  
  /*****************************automotive css****************************/
  .iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
  }
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .resp-margin {
    margin-top: 20px;
  }
  /************blog cards*****************/
  .image-card-indus {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  .card-title {
    margin-bottom: 0.3rem;
  }

  .cat {
    display: inline-block;
    margin-bottom: 1rem;
  }
  
  .fa-users {
    margin-left: 1rem;
  }
  
  .card-footer {
    font-size: 0.8rem;
  }
  /**************************UPDATES CARDS******************************/
  .card-updates {
    border: 1px solid black;
  }

  .wrap-input100 {
    position: relative;
    max-width: calc(100% - 10px);
    width: 500px;
    z-index: 1;
  }
  
  .input100 {
    display: block;
    /* width: 100%;*/
    background: #fff;
    height: 70px;
    border-radius: 35px;
    /*border:1px solid black;*/
    padding: 0 40px;
  }
  
  .focus-input100 {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 35px;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(132, 106, 221, 0.5);
  }

  .input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
  }
  
  @-webkit-keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 80px 30px;
      opacity: 0;
    }
  }
  
  @keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 80px 30px;
      opacity: 0;
    }
  }
  /* Academy Page  */
  .tophead {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100%;
    height: 100%;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
  }
  .grid-container2 {
    display: grid;
    grid-template-columns: 30% 30% 20% 30%;
    background-color: white;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  .grid-container2 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
    height: 100%;
  }
  .grid-container2 > div img {
    height: 100%;
    width: 100%;
  }
  .middleblock {
    background-image: url("../../assets/imagesacad/bgmid.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
    display: block;
  }
  .counselling {
    width: 20%;
    height: 10%;
    border: 1px black ridge;
  
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 1% 0% 0% 15%;
    padding-top: 2%;
    flex-direction: column;
    font-family: "Times New Roman", Times, serif;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  .counselling:hover {
    background-color: #9e3e06;
  }
  .midarrow {
    position: relative;
    top: 1px;
    margin-left: 23%;
    height: 10%;
    width: 10%;
    float: left;
    z-index: 0;
  }
  .eval {
    border: 1px black ridge;
    width: 25%;
    top: 10px;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  .eval h2,
  .recommend h2,
  .counselling h2 {
    font-size: 20px;
  }
  .eval:hover {
    background-color: #993b04;
  }
  .recommend {
    border: 1px black ridge;
    width: 40%;
    top: 10px;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  .recommend:hover {
    background-color: #9e3e06;
  }
  #middlebox {
    padding: 40px;
    visibility: collapse;
  }
  #middlebox a {
    text-decoration: none;
    color: white;
  }
  .enrollment {
    border: 1px solid black;
    width: 60%;
    height: 10vh;
    margin-left: 20%;
    padding-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(to right, #9e3e06 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
    font-family: "Times New Roman", Times, serif;
    cursor: pointer;
  }
  .enrollment a {
    text-decoration: none;
    color: white;
    font-family: "roboto";
  }
  .enrollment:hover {
    background-position: left bottom;
    color: white;
  }
  @media (min-width: 1200px) {
    .eval,
    .recommend,
    .counselling {
      height: 6vh;
    }
    .eval h2,
    .recommend h2,
    .counselling h2 {
      font-size: 20px;
    }
  }

  @media (max-width: 1200px) {
    #middlebox h2 {
      font-size: 10px;
    }
    .eval,
    .recommend,
    .counselling {
      width: 40%;
    }
    .enrollment {
      height: 4vh;
    }
    .enrollment h1 {
      font-size: 10px;
    }
  }
  @media (max-width: 768px) {
    .eval,
    .recommend,
    .counselling {
      height: 4vh;
    }
    .eval {
      width: 60%;
    }
    .recommend {
      width: 70%;
    }
    .counselling {
      width: 50%;
    }
  }
  .rule {
    margin: 10px 0;
    border: none;
    height: 1.5px;
    background-image: linear-gradient(left, #f0f0f0, #c9bbae, #f0f0f0);
  }

  /* ===== Select Box ===== */
  ::ng-deep .mat-option {
    background-color: rgb(23, 23, 92);
    color: white;
  }
  ::ng-deep .mat-option:hover {
    color: black;
  }
  .sel {
    font-size: 100px;
    display: inline-block;
    margin: 3em 2em;
    width: 40%;
    background-color: transparent;
    position: relative;
    cursor: pointer;
  }
  @media (max-width: 2000px) {
    .sel {
      width: 50%;
      font-size: 17px;
    }
  }
  @media (max-width: 1440px) {
    .sel {
      width: 60%;
      font-size: 15px;
    }
  }
  @media (max-width: 1000px) {
    .sel {
      width: 80%;
      font-size: 12px;
    }
  }
  @media (max-width: 660px) {
    .sel {
      width: 100%;
      font-size: 10px;
    }
  }

  .sel::before {
    position: absolute;
    content: "\f063";
    font-family: "FontAwesome";
    font-size: 1.2em;
    color: #fff;
    right: 1px;
    top: calc(50% - 0.5em);
  }

  .sel.active::before {
    transform: rotateX(-180deg);
  }



  /* ----- Select Box Black Panther ----- */
  .sel {
    padding-bottom: 20px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.3);
  }

  .sel--black-panther {
    z-index: 3;
  }

  /* ----- Select Box Superman ----- */
  .sel--superman {
    /*   display: none; */
    z-index: 2;
  }

  /* ===== Keyframes ===== */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 20px, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  @-webkit-keyframes HideList {
    from {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
    to {
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
    }
  }
  
  @keyframes HideList {
    from {
      -webkit-transform: scaleY(1);
      transform: scaleY(1);
    }
    to {
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
    }
  }
  @keyframes drop {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }


  /* theme */

  div.ruby-wrapper,
  div.ruby-wrapper.ruby-vertical {
    background: #f9f9f9;
    color: #222;
  }

  ul.ruby-menu > li > a {
    color: #222;
  }
  
  ul.ruby-menu > li > a:hover,
  ul.ruby-menu > li:hover > a,
  ul.ruby-menu > li.ruby-active-menu-item > a:hover,
  ul.ruby-menu > li.ruby-active-menu-item:hover > a {
    background: #222;
    color: #fff;
  }
  
  ul.ruby-menu > li.ruby-active-menu-item > a {
    background: #efefef;
    color: #222;
  }
  
  ul.ruby-menu.ruby-menu-dividers > li > a,
  ul.ruby-menu.ruby-menu-dividers > li.ruby-menu-social > a {
    border-left: 1px solid #ddd;
    border-right: 1px solid #fff;
  }

  ul.ruby-menu.ruby-menu-dividers > li:first-child > a,
  ul.ruby-menu.ruby-menu-dividers > li.ruby-menu-social:last-child > a {
    border-left: none;
  }

  ul.ruby-menu.ruby-vertical.ruby-menu-dividers > li > a {
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
  }

  ul.ruby-menu.ruby-vertical.ruby-menu-dividers > li:first-child > a {
    border-top: none;
  }

  ul.ruby-menu.ruby-menu-dividers > li > a:hover,
  ul.ruby-menu.ruby-menu-dividers > li:hover > a {
    border-left: 1px solid #222;
    border-right: 1px solid #222;
  }
  
  ul.ruby-menu.ruby-vertical.ruby-menu-dividers > li > a:hover,
  ul.ruby-menu.ruby-vertical.ruby-menu-dividers > li:hover > a {
    border-bottom: 1px solid #222;
  }
  
  ul.ruby-menu.ruby-menu-dividers > li.ruby-active-menu-item > a {
    border-left: 1px solid #efefef;
    border-right: 1px solid #fff;
  }
  
  ul.ruby-menu.ruby-vertical.ruby-menu-dividers > li.ruby-active-menu-item > a {
    border-bottom: 1px solid #fff;
    border-left: none;
    border-right: none;
  }
  
  ul.ruby-menu.ruby-vertical.ruby-menu-dividers > li > a {
    border-left: none;
    border-right: none;
  }
  
  ul.ruby-menu.ruby-vertical.ruby-menu-dividers
    > li.ruby-active-menu-item
    > a:hover,
  ul.ruby-menu.ruby-vertical.ruby-menu-dividers
    > li.ruby-active-menu-item:hover
    > a {
    border-bottom: 1px solid #222;
    border-left: none;
  }
  
  ul.ruby-menu > li > ul,
  ul.ruby-menu > li > ul > li > ul,
  ul.ruby-menu > li > ul > li > ul > li > ul {
    border-top: 4px solid #222;
  }
  
  ul.ruby-menu > li > ul > li > a,
  ul.ruby-menu > li > ul > li > ul > li > a,
  ul.ruby-menu > li > ul > li > ul > li > ul > li > a {
    background: #fff;
    color: #666;
  }

  ul.ruby-menu > li > ul > li:hover > a,
  ul.ruby-menu > li > ul > li > a:hover,
  ul.ruby-menu > li > ul > li > ul > li:hover > a,
  ul.ruby-menu > li > ul > li > ul > li > a:hover,
  ul.ruby-menu > li > ul > li > ul > li > ul > li:hover > a,
  ul.ruby-menu > li > ul > li > ul > li > ul > li > a:hover {
    background: #efefef;
  }

  ul.ruby-menu > li.ruby-menu-mega > div,
  ul.ruby-menu > li.ruby-menu-mega-blog > div,
  ul.ruby-menu > li.ruby-menu-mega-shop > div {
    background: #fff;
    border-top: 4px solid #222;
  }
  
  ul.ruby-menu > li.ruby-menu-mega-blog > div > ul.ruby-menu-mega-blog-nav {
    background: #efefef;
  }

  ul.ruby-menu
    > li.ruby-menu-mega-blog
    > div
    > ul.ruby-menu-mega-blog-nav
    > li
    > a {
    background: #efefef;
    color: #666;
  }

  ul.ruby-menu
    > li.ruby-menu-mega-blog
    > div
    > ul.ruby-menu-mega-blog-nav
    > li.ruby-active-menu-item
    > a {
    background: #e6e6e6;
  }
  
  ul.ruby-menu
    > li.ruby-menu-mega-blog
    > div
    > ul.ruby-menu-mega-blog-nav
    > li
    > div {
    background: #fff;
  }
  
  ul.ruby-menu
    > li.ruby-menu-mega-blog
    > div
    > ul.ruby-menu-mega-blog-nav
    > li:hover
    > a {
    background: #ddd;
  }

  ul.ruby-menu > li.ruby-menu-mega-shop > div > ul {
    background: #efefef;
    border-bottom: 1px solid #ddd;
  }

  ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > a {
    color: #666;
  }
  
  ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > div {
    background: #fff;
  }

  ul.ruby-menu > li.ruby-menu-mega > div ul li > a,
  ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > div ul > li > a {
    color: #555;
  }

  ul.ruby-menu > li.ruby-menu-mega > div ul li > a:hover,
  ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > div ul > li > a:hover {
    color: #222;
  }

  ul.ruby-menu
    > li.ruby-menu-mega
    > div
    ul.ruby-list-with-images
    li
    span.ruby-list-desc {
    color: #999;
  }

  span.ruby-c-title,
  span.ruby-c-title a {
    color: #222;
  }

  span.ruby-c-title a:hover,
  span.ruby-c-category,
  span.ruby-c-category a,
  span.ruby-c-date,
  span.ruby-c-date a {
    color: #444;
  }

  span.ruby-c-category a:hover,
  span.ruby-c-date a:hover {
    color: #222;
  }
  
  @media (min-width: 768px) {
    ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > a:before,
    ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > a:after {
      background-color: #222;
    }
  
    ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > a:hover {
      color: #333;
    }
  
    ul.ruby-menu
      > li.ruby-menu-mega-blog
      > div
      > ul.ruby-menu-mega-blog-nav
      > li.ruby-active-menu-item
      > a:after,
    ul.ruby-menu
      > li.ruby-menu-mega-blog
      > div
      > ul.ruby-menu-mega-blog-nav
      > li:hover
      > a:after {
      border-color: transparent #fff transparent transparent;
    }
  }

  @media (max-width: 767px) {
    ul.ruby-menu > li > a {
      background: #efefef;
    }
  
    ul.ruby-menu > li > a:hover,
    ul.ruby-menu > li:hover > a,
    ul.ruby-menu > li.ruby-active-menu-item > a:hover {
      background: #ccc;
      color: #111;
    }

    ul.ruby-menu > li.ruby-active-menu-item > a {
      background: #ccc;
    }
  
    ul.ruby-menu > li > ul > li > a,
    ul.ruby-menu > li > ul > li > ul > li > a,
    ul.ruby-menu > li > ul > li > ul > li > ul > li > a,
    ul.ruby-menu
      > li.ruby-menu-mega-blog
      > div
      > ul.ruby-menu-mega-blog-nav
      > li
      > a,
    ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > a {
      background: #d1d1d1;
    }
  
    ul.ruby-menu > li > ul > li:hover > a,
    ul.ruby-menu > li > ul > li > a:hover,
    ul.ruby-menu > li > ul > li > ul > li:hover > a,
    ul.ruby-menu > li > ul > li > ul > li > a:hover,
    ul.ruby-menu > li > ul > li > ul > li > ul > li:hover > a,
    ul.ruby-menu > li > ul > li > ul > li > ul > li > a:hover {
      background: #d9d9d9;
      color: #111;
    }

    ul.ruby-menu > li > ul > li > ul > li > a {
      background: #e5e5e5;
    }

    ul.ruby-menu > li > ul > li > ul > li:hover > a,
    ul.ruby-menu > li > ul > li > ul > li > a:hover {
      background: #e1e1e1;
    }

    ul.ruby-menu > li > ul > li > ul > li > ul > li > a {
      background: #efefef;
    }

    ul.ruby-menu > li > ul > li > ul > li > ul > li:hover > a,
    ul.ruby-menu > li > ul > li > ul > li > ul > li > a:hover {
      background: #fff;
    }

    ul.ruby-menu
      > li.ruby-menu-mega-blog
      > div
      > ul.ruby-menu-mega-blog-nav
      > li.ruby-active-menu-item
      > a {
      background: #bcbcbc;
    }

    ul.ruby-menu
      > li.ruby-menu-mega-blog
      > div
      > ul.ruby-menu-mega-blog-nav
      > li:hover
      > a {
      background: #d9d9d9;
    }
  
    ul.ruby-menu
      > li.ruby-menu-mega-shop
      > div
      > ul
      > li.ruby-active-menu-item
      > a {
      background: #bcbcbc;
    }

    ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li:hover > a,
    ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > a:hover,
    ul.ruby-menu
      > li.ruby-menu-mega-shop
      > div
      > ul
      > li.ruby-active-menu-item
      > a {
      background: #d9d9d9;
    }

    span.ruby-dropdown-toggle:after {
      color: #fff;
    }
  
    ul.ruby-menu > li > a:before,
    ul.ruby-menu > li > ul > li > a:before,
    ul.ruby-menu > li > ul > li > ul > li > a:before,
    ul.ruby-menu > li > ul > li > ul > li > ul > li > a:before,
    ul.ruby-menu
      > li.ruby-menu-mega-blog
      > div
      > ul.ruby-menu-mega-blog-nav
      > li
      > a:before,
    ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > a:before {
      background: #333;
    }

    ul.ruby-menu > li > ul > li > a:before,
    ul.ruby-menu
      > li.ruby-menu-mega-blog
      > div
      > ul.ruby-menu-mega-blog-nav
      > li
      > a:before,
    ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > a:before {
      background: #555;
    }
  
    ul.ruby-menu > li > ul > li > ul > li > a:before {
      background: #777;
    }

    ul.ruby-menu > li > ul > li > ul > li > ul > li > a:before {
      background: #999;
    }

    .c-hamburger span {
      background: #222;
    }
  
    .c-hamburger span::before,
    .c-hamburger span::after {
      background-color: #222;
    }
  
    .c-hamburger--htx {
      background-color: #efefef;
      color: #222;
    }

    .c-hamburger--htx.is-active {
      background-color: #ddd;
    }
  
    ul.ruby-menu > li.ruby-menu-mega > div,
    ul.ruby-menu > li.ruby-menu-mega-blog > div,
    ul.ruby-menu > li.ruby-menu-mega-shop > div {
      border-top: none;
    }
  
    ul.ruby-menu > li > ul,
    ul.ruby-menu > li > ul > li > ul,
    ul.ruby-menu > li > ul > li > ul > li > ul {
      border-top: none;
    }

    ul.ruby-menu.ruby-menu-dividers > li,
    ul.ruby-menu.ruby-menu-dividers > li > a,
    ul.ruby-menu.ruby-menu-dividers > li.ruby-menu-social > a,
    ul.ruby-menu.ruby-menu-dividers > li > a:hover,
    ul.ruby-menu.ruby-menu-dividers > li:hover > a {
      border: none;
    }
  }
  
  /* transision */
  
  span.ruby-dropdown-toggle {
    transition: transform 0.3s ease;
  }

  span.ruby-dropdown-toggle:after {
    transition: transform 0.3s ease;
  }
  
  @media (min-width: 767px) {
    ul.ruby-menu > li > a:after {
      transition: all 0.3s ease;
    }
  
    ul.ruby-menu > li > ul > li > a:after,
    ul.ruby-menu > li > ul > li > ul > li > a:after,
    ul.ruby-menu > li > ul > li > ul > li > ul > li > a:after {
      transition: all 0.3s ease;
    }

    ul.ruby-menu > li > ul,
    ul.ruby-menu > li > div {
      transform: translateY(25px);
      transition: all 0.3s ease;
    }
  
    ul.ruby-menu > li:hover > ul,
    ul.ruby-menu > li:hover > div {
      transform: translateY(0);
    }
  
    ul.ruby-menu.ruby-vertical > li > ul,
    ul.ruby-menu.ruby-vertical > li > div {
      transform: translateX(25px);
      transition: all 0.3s ease;
    }

    ul.ruby-menu.ruby-vertical > li:hover > ul,
    ul.ruby-menu.ruby-vertical > li:hover > div {
      transform: translateX(0);
    }

    ul.ruby-menu > li > ul > li > ul,
    ul.ruby-menu > li > ul > li > ul > li > ul,
    ul.ruby-menu > li > ul > li > ul > li > ul > li > ul {
      transform: translateX(25px);
      transition: all 0.3s ease;
    }
  
    ul.ruby-menu > li > ul > li:hover > ul,
    ul.ruby-menu > li > ul > li > ul > li:hover > ul,
    ul.ruby-menu > li > ul > li > ul > li > ul > li:hover > ul {
      transform: translateX(0);
    }

    ul.ruby-menu > li > ul > li.ruby-open-to-left > ul,
    ul.ruby-menu > li > ul > li > ul > li.ruby-open-to-left > ul,
    ul.ruby-menu > li > ul > li > ul > li > ul > li.ruby-open-to-left > ul {
      transform: translateX(-25px);
      transition: all 0.3s ease;
    }

    ul.ruby-menu > li > ul > li.ruby-open-to-left:hover > ul,
    ul.ruby-menu > li > ul > li > ul > li.ruby-open-to-left:hover > ul,
    ul.ruby-menu > li > ul > li > ul > li > ul > li.ruby-open-to-left:hover > ul {
      transform: translateX(0);
    }
  
    ul.ruby-menu
      > li.ruby-menu-mega-blog
      > div
      > ul.ruby-menu-mega-blog-nav
      > li
      > div {
      transform: translateY(-50px);
      transition: all 0.5s ease;
    }
  
    ul.ruby-menu
      > li.ruby-menu-mega-blog:hover
      > div
      > ul.ruby-menu-mega-blog-nav
      > li.ruby-active-menu-item
      > div,
    ul.ruby-menu
      > li.ruby-menu-mega-blog
      > div
      > ul.ruby-menu-mega-blog-nav
      > li:hover
      > div {
      transform: translateY(0);
    }

    ul.ruby-menu.ruby-vertical
      > li.ruby-menu-mega-blog
      > div
      > ul.ruby-menu-mega-blog-nav
      > li
      > div {
      transform: translateX(50px);
      transition: all 0.5s ease;
    }

    ul.ruby-menu.ruby-vertical
      > li.ruby-menu-mega-blog:hover
      > div
      > ul.ruby-menu-mega-blog-nav
      > li.ruby-active-menu-item
      > div,
    ul.ruby-menu.ruby-vertical
      > li.ruby-menu-mega-blog
      > div
      > ul.ruby-menu-mega-blog-nav
      > li:hover
      > div {
      transform: translateX(0);
    }
  
    ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > div {
      transform: translateY(-50px);
      transition: all 0.5s ease;
    }

    ul.ruby-menu
      > li.ruby-menu-mega-shop:hover
      > div
      > ul
      > li.ruby-active-menu-item
      > div,
    ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li:hover > div {
      transform: translateY(0);
    }

    ul.ruby-menu.ruby-vertical > li.ruby-menu-mega-shop > div > ul > li > div {
      transform: translateX(50px);
      transition: all 0.5s ease;
    }
  
    ul.ruby-menu.ruby-vertical
      > li.ruby-menu-mega-shop:hover
      > div
      > ul
      > li.ruby-active-menu-item
      > div,
    ul.ruby-menu.ruby-vertical
      > li.ruby-menu-mega-shop
      > div
      > ul
      > li:hover
      > div {
      transform: translateX(0);
    }

    ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > a:before,
    ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > a:after {
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
    }
  }

  /* main */
  
  *,
  :before,
  :after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    font-family: "Open Sans", sans-serif;
  }
  
  div.ruby-wrapper {
    position: relative;
    width: 980px;
    height: 50px;
    margin: 0 auto;
    background: #333;
  }
  
  div.ruby-wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  div.ruby-wrapper > ul {
    position: relative;
  }
  
  ul.ruby-menu > li {
    float: left;
    font-size: 14px;
  }
  
  ul.ruby-menu > li.ruby-menu-right {
    float: right;
  }
  
  ul.ruby-menu > li > a {
    display: block;
    line-height: 50px;
    padding: 0 25px 0 15px;
    color: #efefef;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  ul.ruby-menu > li > a:only-child {
    padding: 0 15px;
  }
  
  ul.ruby-menu > li > a:hover,
  ul.ruby-menu > li:hover > a,
  ul.ruby-menu > li.ruby-active-menu-item > a:hover,
  ul.ruby-menu > li.ruby-active-menu-item:hover > a {
    background: #19ad86;
  }
  
  ul.ruby-menu > li > a:only-child:after,
  ul.ruby-menu > li:hover > a:only-child:after {
    content: "";
  }
  
  ul.ruby-menu > li.ruby-active-menu-item > a {
    background: #17a47d;
  }
  
  ul.ruby-menu > li > a .fa {
    position: relative;
    width: 24px;
  }
  
  ul.ruby-menu > li > a > img {
    max-width: 16px;
    display: block;
  }
  
  ul.ruby-menu > li.ruby-menu-social > a {
    padding: 0;
    width: 30px;
    padding: 0 8px;
    font-size: 16px;
  }
  
  ul.ruby-menu > li.ruby-menu-social > a > span {
    display: none;
  }
  
  ul.ruby-menu > li.ruby-menu-social.ruby-menu-search > a,
  ul.ruby-menu.ruby-menu-dividers > li.ruby-menu-social.ruby-menu-search > a {
    transition: all 0.5s ease;
    max-height: 50px;
    width: 30px;
    transition: all 0.5s ease;
    transition-delay: 0.3s;
  }
  
  ul.ruby-menu > li.ruby-menu-social.ruby-menu-search > a:hover,
  ul.ruby-menu.ruby-menu-dividers
    > li.ruby-menu-social.ruby-menu-search
    > a:hover {
    width: 120px;
  }
  
  ul.ruby-menu > li.ruby-menu-social.ruby-menu-search > a:hover > span input,
  ul.ruby-menu.ruby-menu-dividers
    > li.ruby-menu-social.ruby-menu-search
    > a:hover
    > span
    input {
    transform: scaleY(1);
    max-width: 80px;
  }
  
  ul.ruby-menu > li.ruby-menu-social.ruby-menu-search > a span,
  ul.ruby-menu.ruby-menu-dividers
    > li.ruby-menu-social.ruby-menu-search
    > a
    span {
    display: inline;
  }
  
  ul.ruby-menu > li.ruby-menu-social.ruby-menu-search > a > span input,
  ul.ruby-menu.ruby-menu-dividers
    > li.ruby-menu-social.ruby-menu-search
    > a
    > span
    input {
    position: absolute;
    width: 80px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    background: none;
    color: #efefef;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 0;
    transform: scaleY(0);
    transition: all 0.5s ease;
    transition-delay: 0.3s;
  }
  
  ul.ruby-menu > li.ruby-menu-social.ruby-menu-search > a > span input:focus {
    outline: none;
    color: #efefef;
  }
  
  ul.ruby-menu
    > li.ruby-menu-social.ruby-menu-search
    > a
    > span
    input::-webkit-input-placeholder {
    color: #efefef;
  }
  
  ul.ruby-menu.ruby-menu-dividers > li > a,
  ul.ruby-menu.ruby-menu-dividers > li.ruby-menu-social > a {
    border-left: 1px solid #111;
    border-right: 1px solid #666;
  }

  ul.ruby-menu.ruby-menu-dividers > li:first-child > a,
  ul.ruby-menu.ruby-menu-dividers > li.ruby-menu-social:last-child > a {
    border-left: none;
  }

  ul.ruby-menu.ruby-vertical.ruby-menu-dividers > li > a {
    border: none;
    border-top: 1px solid #111;
    border-bottom: 1px solid #666;
  }
  
  ul.ruby-menu.ruby-vertical.ruby-menu-dividers > li:first-child > a {
    border-top: none;
  }

  ul.ruby-menu.ruby-menu-dividers > li > a:hover,
  ul.ruby-menu.ruby-menu-dividers > li:hover > a {
    border-right: 1px solid #19ad86;
  }

  ul.ruby-menu.ruby-vertical.ruby-menu-dividers > li > a:hover,
  ul.ruby-menu.ruby-vertical.ruby-menu-dividers > li:hover > a {
    border-bottom: 1px solid #19ad86;
  }

  ul.ruby-menu.ruby-menu-dividers > li.ruby-active-menu-item > a {
    border-right: 1px solid #17a47d;
  }
  
  ul.ruby-menu.ruby-vertical.ruby-menu-dividers > li.ruby-active-menu-item > a {
    border-bottom: 1px solid #17a47d;
  }
  
  ul.ruby-menu > li > ul,
  ul.ruby-menu > li > ul > li > ul,
  ul.ruby-menu > li > ul > li > ul > li > ul {
    position: absolute;
    -webkit-box-shadow: 0 8px 24px -5px #ccc;
    -moz-box-shadow: 0 8px 24px -5px #ccc;
    box-shadow: 0 8px 24px -5px #ccc;
    border-top: 4px solid #19ad86;
  }
  
  ul.ruby-menu > li > ul > li,
  ul.ruby-menu > li > ul > li > ul > li {
    position: relative;
  }
  
  ul.ruby-menu > li > ul > li > a,
  ul.ruby-menu > li > ul > li > ul > li > a,
  ul.ruby-menu > li > ul > li > ul > li > ul > li > a {
    display: block;
    width: 170px;
    line-height: 40px;
    padding: 0 35px 0 25px;
    background: #fff;
    color: #666;
    text-decoration: none;
    font-size: 14px;
  }
  
  ul.ruby-menu > li > ul > li:hover > a,
  ul.ruby-menu > li > ul > li > a:hover,
  ul.ruby-menu > li > ul > li > ul > li:hover > a,
  ul.ruby-menu > li > ul > li > ul > li > a:hover,
  ul.ruby-menu > li > ul > li > ul > li > ul > li:hover > a,
  ul.ruby-menu > li > ul > li > ul > li > ul > li > a:hover {
    background: #efefef;
  }

  ul.ruby-menu > li > ul > li > a:only-child:after,
  ul.ruby-menu > li > ul > li > ul > li > a:only-child:after,
  ul.ruby-menu > li > ul > li > ul > li > ul > li > a:only-child:after {
    content: "";
  }
  
  ul.ruby-menu > li > ul > li > a .fa,
  ul.ruby-menu > li > ul > li > ul > li > a .fa,
  ul.ruby-menu > li > ul > li > ul > li > ul > li > a .fa {
    position: relative;
    width: 24px;
  }
  
  ul.ruby-menu > li.ruby-menu-right > ul {
    right: 0;
  }
  
  ul.ruby-menu > li > ul > li > ul,
  ul.ruby-menu > li > ul > li > ul > li > ul {
    left: 170px;
    top: -4px;
    z-index: 100;
  }
  
  ul.ruby-menu > li > ul > li.ruby-open-to-left > ul,
  ul.ruby-menu > li > ul > li > ul > li.ruby-open-to-left > ul {
    left: auto;
    right: 170px;
  }

  ul.ruby-menu > li.ruby-menu-mega > div,
  ul.ruby-menu > li.ruby-menu-mega-blog > div,
  ul.ruby-menu > li.ruby-menu-mega-shop > div {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50px;
    left: 0;
    background: #fff;
    border-top: 4px solid #19ad86;
    overflow: hidden;
    -webkit-box-shadow: 0 8px 24px -5px rgb(0, 0, 0);
    -moz-box-shadow: 0 8px 24px -5px rgb(0, 0, 0);
    box-shadow: 0 8px 24px -5px rgb(0, 0, 0);
  }
  
  ul.ruby-menu > li.ruby-menu-mega-blog > div > ul.ruby-menu-mega-blog-nav {
    position: relative;
    width: 200px;
    height: 100%;
    left: 0;
    top: 0;
    background: #efefef;
  }

  ul.ruby-menu > li.ruby-menu-mega-blog > div > ul.ruby-menu-mega-blog-nav > li {
    font-size: 14px;
  }
  
  ul.ruby-menu
    > li.ruby-menu-mega-blog
    > div
    > ul.ruby-menu-mega-blog-nav
    > li
    > a {
    display: block;
    line-height: 40px;
    padding: 0 15px;
    background: #efefef;
    color: #666;
    text-decoration: none;
  }
  
  ul.ruby-menu
    > li.ruby-menu-mega-blog
    > div
    > ul.ruby-menu-mega-blog-nav
    > li.ruby-active-menu-item
    > a {
    background: #e6e6e6;
  }
  
  ul.ruby-menu
    > li.ruby-menu-mega-blog
    > div
    > ul.ruby-menu-mega-blog-nav
    > li
    > div {
    position: absolute;
    width: 780px;
    height: auto;
    min-height: 100%;
    left: 200px;
    top: 0;
    background: #fff;
  }
  
  ul.ruby-menu
    > li.ruby-menu-mega-blog
    > div
    > ul.ruby-menu-mega-blog-nav
    > li:hover
    > a {
    background: #ddd;
  }
  
  ul.ruby-menu > li.ruby-menu-mega-shop > div {
    text-align: center;
    z-index: 999999;
  }
  
  ul.ruby-menu > li.ruby-menu-mega-shop > div > ul {
    width: 100%;
    background: #efefef;
    margin: 0 auto;
    padding: 0;
    border-bottom: 1px solid #ddd;
    font-size: 0;
    z-index: 100;
  }
  
  ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li {
    display: inline-block;
    margin: 0;
  }
  
  ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > a {
    display: block;
    padding: 20px 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    font-stretch: expanded;
    color: #666;
  }
  
  ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li:hover > a,
  ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > a:hover,
  ul.ruby-menu
    > li.ruby-menu-mega-shop
    > div
    > ul
    > li.ruby-active-menu-item
    > a {
    text-decoration: none;
  }
  
  ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > a {
    position: relative;
    text-decoration: none;
    display: inline-block;
  }
  
  ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > div {
    position: absolute;
    width: 100%;
    left: 0;
    top: auto;
    margin-top: 1px;
    text-align: left;
    background: #fff;
    z-index: -1;
  }
  
  div.ruby-grid,
  div.ruby-grid-lined {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  div.ruby-grid > div.ruby-row {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  div.ruby-grid > div.ruby-row div.ruby-row [class^="ruby-col"] {
    margin-top: 16px;
  }
  
  div.ruby-grid > div.ruby-row div.ruby-row:first-of-type [class^="ruby-col"] {
    margin-top: 0;
  }
  
  div.ruby-grid.ruby-grid-lined > div.ruby-row:after {
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background: -webkit-linear-gradient(
      left,
      rgba(204, 204, 204, 0) 0%,
      rgba(204, 204, 204, 0.48) 24%,
      rgba(204, 204, 204, 1) 50%,
      rgba(204, 204, 204, 0.42) 79%,
      rgba(204, 204, 204, 0) 100%
    );
  }
  
  div.ruby-grid.ruby-grid-lined > div.ruby-row:last-child:after {
    height: 0;
  }
  
  div.ruby-grid > div.ruby-row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  div.ruby-grid > div.ruby-row [class^="ruby-col"] {
    position: relative;
    float: left;
    height: auto;
  }
  
  div.ruby-grid > div.ruby-row > [class^="ruby-col"] {
    padding: 16px;
  }
  
  div.ruby-grid > div.ruby-row > [class^="ruby-col"] [class^="ruby-col"] {
    padding-left: 16px;
  }
  
  div.ruby-grid
    > div.ruby-row
    > [class^="ruby-col"]
    [class^="ruby-col"]:first-of-type {
    padding-left: 0;
  }
  
  div.ruby-grid > div.ruby-row div.ruby-col-1 {
    width: 8.33%;
  }
  
  div.ruby-grid > div.ruby-row div.ruby-col-2 {
    width: 16.66%;
  }
  
  div.ruby-grid > div.ruby-row div.ruby-col-3 {
    width: 25%;
  }

  div.ruby-grid > div.ruby-row div.ruby-col-4 {
    width: 33.33%;
  }
  
  div.ruby-grid > div.ruby-row div.ruby-col-5 {
    width: 41.66%;
  }
  
  div.ruby-grid > div.ruby-row div.ruby-col-6 {
    width: 50%;
  }
  
  div.ruby-grid > div.ruby-row div.ruby-col-7 {
    width: 58.33%;
  }
  
  div.ruby-grid > div.ruby-row div.ruby-col-8 {
    width: 66.66%;
  }

  div.ruby-grid > div.ruby-row div.ruby-col-9 {
    width: 75%;
  }
  
  div.ruby-grid > div.ruby-row div.ruby-col-10 {
    width: 83.33%;
  }
  
  div.ruby-grid > div.ruby-row div.ruby-col-11 {
    width: 91.66%;
  }
  
  div.ruby-grid > div.ruby-row div.ruby-col-12 {
    width: 100%;
  }
  
  div.ruby-grid.ruby-grid-lined > div.ruby-row > div[class^="ruby-col"]:after {
    content: "";
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    right: 0;
    background: -webkit-linear-gradient(
      top,
      rgba(204, 204, 204, 0) 0%,
      rgba(204, 204, 204, 0.48) 24%,
      rgba(204, 204, 204, 1) 50%,
      rgba(204, 204, 204, 0.42) 79%,
      rgba(204, 204, 204, 0) 100%
    );
  }
  
  div.ruby-grid.ruby-grid-lined
    > div.ruby-row
    > div[class^="ruby-col"]:last-child:after {
    width: 0;
  }
  
  div.ruby-grid img {
    position: relative;
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  h3.ruby-list-heading {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
  }
  
  ul.ruby-menu > li.ruby-menu-mega > div ul,
  ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > div ul {
    margin: 0;
    margin-top: 10px;
  }
  
  ul.ruby-menu > li.ruby-menu-mega > div ul li,
  ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > div ul > li {
    position: relative;
    font-size: 14px;
    line-height: 28px;
    display: block;
    width: 100%;
  }
  
  ul.ruby-menu > li.ruby-menu-mega > div ul li > a,
  ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > div ul > li > a {
    text-decoration: none;
    color: #555;
    display: inline-block;
  }

  ul.ruby-menu > li.ruby-menu-mega > div ul li > a:hover,
  ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > div ul > li > a:hover {
    color: #222;
    text-decoration: underline;
  }
  
  ul.ruby-menu > li.ruby-menu-mega > div ul li .fa,
  ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > div ul > li .fa {
    position: relative;
    width: 24px;
  }
  
  ul.ruby-menu > li.ruby-menu-mega > div ul.ruby-list-with-images li {
    height: 50px;
  }
  
  ul.ruby-menu
    > li.ruby-menu-mega
    > div
    ul.ruby-list-with-images
    li
    span.ruby-list-desc {
    font-size: 11px;
    display: block;
    position: absolute;
    top: 16px;
    left: 72px;
    color: #999;
  }

  ul.ruby-menu > li.ruby-menu-mega > div ul li > a > img {
    float: left;
    width: 60px;
    margin-right: 12px;
  }
  
  span.ruby-c-title,
  span.ruby-c-category,
  span.ruby-c-date {
    position: relative;
    display: block;
  }
  
  span.ruby-c-title a,
  span.ruby-c-category a,
  span.ruby-c-date a {
    text-decoration: none;
  }
  
  span.ruby-c-title,
  span.ruby-c-title a {
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 20px;
    margin-top: 5px;
    text-align: center;
    color: #222;
  }

  span.ruby-c-title a:hover {
    color: #444;
    text-decoration: underline;
  }

  span.ruby-c-category,
  span.ruby-c-category a {
    font-size: 11px;
    margin: 9px 0;
    color: #444;
  }
  
  span.ruby-c-date,
  span.ruby-c-date a {
    font-size: 11px;
    color: #444;
  }
  
  span.ruby-c-category a:hover,
  span.ruby-c-date a:hover {
    color: #19ad86;
  }
  
  div.ruby-c-inline {
    display: block;
    position: relative;
    height: 14px;
    margin: 7px 0;
  }

  div.ruby-c-inline span.ruby-c-category,
  div.ruby-c-inline span.ruby-c-date {
    position: absolute;
    display: inline-block;
  }
  
  div.ruby-c-inline span.ruby-c-date {
    right: 0;
  }

  div.ruby-c-inline span.ruby-c-category,
  div.ruby-c-inline span.ruby-c-category a {
    margin: 0;
  }

  span.ruby-c-content {
    display: block;
    position: relative;
    top: 7px;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
  }
  
  .ruby-wrapper .visible-xs {
    visibility: hidden;
    position: absolute;
  }
  
  @media (min-width: 768px) {
    div.ruby-wrapper.ruby-menu-transparent {
      background: none;
    }
  
    div.ruby-wrapper.ruby-menu-transparent
      > ul.ruby-menu
      > li.ruby-active-menu-item
      > a {
      background: none;
    }
  
    div.ruby-wrapper.ruby-menu-transparent
      > ul.ruby-menu
      > li.ruby-menu-social
      > a {
      border: none;
    }
  
    div.ruby-wrapper.ruby-menu-transparent
      > ul.ruby-menu.ruby-menu-dividers
      > li
      > a {
      border: none;
    }

    div.ruby-wrapper.ruby-menu-transparent > ul.ruby-menu > li:hover > a,
    div.ruby-wrapper.ruby-menu-transparent > ul.ruby-menu > li > a:hover,
    div.ruby-wrapper.ruby-menu-transparent
      > ul.ruby-menu.ruby-menu-dividers
      > li:hover
      > a,
    div.ruby-wrapper.ruby-menu-transparent
      > ul.ruby-menu.ruby-menu-dividers
      > li
      > a:hover {
      background: none;
      color: #e2e2e2;
    }
  
    div.ruby-wrapper.ruby-menu-transparent
      > ul.ruby-menu
      > li.ruby-menu-social.ruby-menu-search
      > a:hover,
    div.ruby-wrapper.ruby-menu-transparent
      > ul.ruby-menu
      > li.ruby-menu-social.ruby-menu-search:hover
      > a {
      background: none;
    }

    div.ruby-wrapper.ruby-menu-full-width {
      width: 100%;
    }
  
    div.ruby-wrapper.ruby-menu-full-width > ul.ruby-menu {
      width: 980px;
      margin: 0 auto;
    }
  
    ul.ruby-menu > li > ul,
    ul.ruby-menu > li > ul > li > ul,
    ul.ruby-menu > li > ul > li > ul > li > ul {
      visibility: hidden;
      opacity: 0;
    }
  
    ul.ruby-menu > li:hover > ul,
    ul.ruby-menu > li > ul > li:hover > ul,
    ul.ruby-menu > li > ul > li > ul > li:hover > ul {
      visibility: visible;
      opacity: 1;
    }
  
    ul.ruby-menu > li.ruby-menu-mega > div,
    ul.ruby-menu > li.ruby-menu-mega-blog > div,
    ul.ruby-menu > li.ruby-menu-mega-shop > div {
      visibility: hidden;
      opacity: 0;
    }

    ul.ruby-menu > li.ruby-menu-mega:hover > div,
    ul.ruby-menu > li.ruby-menu-mega-blog:hover > div,
    ul.ruby-menu > li.ruby-menu-mega-shop:hover > div {
      visibility: visible;
      opacity: 1;
    }
  
    ul.ruby-menu
      > li.ruby-menu-mega-blog
      > div
      > ul.ruby-menu-mega-blog-nav
      > li
      > div {
      visibility: hidden;
      opacity: 0;
    }
  
    ul.ruby-menu
      > li.ruby-menu-mega-blog:hover
      > div
      > ul.ruby-menu-mega-blog-nav
      > li.ruby-active-menu-item
      > div {
      visibility: visible;
      opacity: 1;
    }
  
    ul.ruby-menu
      > li.ruby-menu-mega-blog
      > div
      > ul.ruby-menu-mega-blog-nav
      > li:hover
      > div {
      visibility: visible;
      opacity: 1;
      z-index: 101;
    }
  
    ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > div {
      visibility: hidden;
      opacity: 0;
    }
  
    ul.ruby-menu
      > li.ruby-menu-mega-shop:hover
      > div
      > ul
      > li.ruby-active-menu-item
      > div,
    ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li:hover > div {
      visibility: visible;
      opacity: 1;
    }
  
    ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > a:before,
    ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > a:after {
      height: 1px;
      position: absolute;
      content: "";
      background-color: #19ad86;
      width: 0;
    }
  
    ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > a:before {
      top: 10px;
      left: 5%;
    }
  
    ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > a:after {
      bottom: 10px;
      right: 5%;
    }
  
    ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > a:hover,
    .snip1217 .current a {
      color: #333;
    }
  
    ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > a:hover:before,
    ul.ruby-menu
      > li.ruby-menu-mega-shop
      > div
      > ul
      > li.ruby-active-menu-item
      > a:before,
    ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li > a:hover:after,
    ul.ruby-menu
      > li.ruby-menu-mega-shop
      > div
      > ul
      > li.ruby-active-menu-item
      > a:after,
    ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li:hover > a:before,
    ul.ruby-menu > li.ruby-menu-mega-shop > div > ul > li:hover > a:after {
      width: 90%;
    }
  
    ul.ruby-menu > li > a:after {
      font-family: "FontAwesome";
      text-decoration: none;
      content: "\f107";
      position: absolute;
      margin-left: 5px;
    }

    ul.ruby-menu > li:hover > a:after {
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }
  
    ul.ruby-menu > li > ul > li > a:after,
    ul.ruby-menu > li > ul > li > ul > li > a:after,
    ul.ruby-menu > li > ul > li > ul > li > ul > li > a:after {
      font-family: "FontAwesome";
      text-decoration: none;
      font-size: 16px;
      padding: 0;
      content: "\f105";
      position: absolute;
      right: 15px;
    }

    ul.ruby-menu > li > ul > li:hover > a:after,
    ul.ruby-menu > li > ul > li > ul > li:hover > a:after,
    ul.ruby-menu > li > ul > li > ul > li > ul > li:hover > a:after {
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }

    ul.ruby-menu > li > ul > li.ruby-open-to-left > a:after,
    ul.ruby-menu > li > ul > li > ul > li.ruby-open-to-left > a:after,
    ul.ruby-menu > li > ul > li > ul > li > ul > li.ruby-open-to-left > a:after {
      content: "\f104";
      right: auto;
      left: 10px;
    }
  
    ul.ruby-menu > li > ul > li.ruby-open-to-left:hover > a:after,
    ul.ruby-menu > li > ul > li > ul > li.ruby-open-to-left:hover > a:after,
    ul.ruby-menu
      > li
      > ul
      > li
      > ul
      > li
      > ul
      > li.ruby-open-to-left:hover
      > a:after {
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }
  
    ul.ruby-menu
      > li.ruby-menu-mega-blog
      > div
      > ul.ruby-menu-mega-blog-nav
      > li.ruby-active-menu-item
      > a:after,
    ul.ruby-menu
      > li.ruby-menu-mega-blog
      > div
      > ul.ruby-menu-mega-blog-nav
      > li:hover
      > a:after {
      content: "";
      position: absolute;
      right: 0;
      margin-top: 13px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 8px 6px 0;
      border-color: transparent #fff transparent transparent;
    }
  }

  @media (min-width: 200px) and (max-width: 991px) {
    .ruby-wrapper .img-long {
      height: 0 !important;
      width: 0 !important;
    }
    .ruby-wrapper {
      display: block;
      visibility: visible !important;
    }
  }
  @media (max-width: 767px) {
    .ruby-wrapper .img-long {
      height: 0 !important;
      width: 0 !important;
    }
    .ruby-wrapper {
      display: block;
      visibility: visible !important;
    }
  }
  
  .ruby-wrapper {
    background-color: transparent !important;
  }
  .ruby-wrapper .img-long {
    height: 300%;
    width: 20%;
  }
  
  .ruby-menu-mega-blog-nav {
    background-color: #28c5fa62 !important;
    color: white !important;
  }
  .ruby-active-menu-item a {
    color: white !important;
    background-color: #2cadd8 !important;
  }
  .collapse {
    width: 100% !important;
    transition: 0.5s;
  }
  .collapse-btn {
    width: 50px;
    font-size: 16px;
    color: white;
    border: transparent;
    position: absolute;
    right: 15px;
    top: 65px;
    height: 30px;
    margin-top: 0;
  }
  .collapse-btn-2 {
    width: 50px;
    font-weight: 500;
    font-size: 15px;
    color: white;
    position: absolute;
    left: 0px;
    height: 30px;
    margin-top: 0;
    margin-left: 2%;
    border: transparent;
  }
  .collapse-btn-2 img {
    width: 30px;
    height: 30px;
  }
  .collapse-btn img {
    width: 30px;
    height: 30px;
  }
  .no-margin {
    margin-left: 0 !important;
    padding-left: 0;
  }
  #no-space {
    padding-left: 0;
    padding-right: 0;
  }
  
  .ccontent,
  .cimage {
    color: rgb(247, 238, 238) !important;
    background-color: #071a52 !important;
  }
  .ccontent h3 {
    color: #fc5185 !important;
  }
  .cimage img {
    margin-top: 15px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 1);
  }
  .para-side {
    position: absolute;
    right: 20px;
    top: 65px;
    font-size: 15px;
    font-weight: 900;
    width: 20vw;
    margin: 0;
    padding: 0;
    color: rgba(0, 191, 255, 1);
  }
  .m-left {
    position: absolute;
    font-size: 15px;
    left: 10%;
  }
  ul.ruby-menu > li > a:hover cover-section {
    margin-top: 100px;
  }
  .progra {
    height: 400px !important;
  }
  .sub-head {
    width: 50%;
    margin-top: 30px;
    margin-left: 10px;
    font-weight: 900;
    border-bottom: 2px solid #fc5185;
  }
  .para-side {
    right: 10% !important;
    width: 150px;
  }
  .dropdown-menu {
    background: #292c7d;
    border: none;
    margin-top: 15%;
    color: white;
    -webkit-box-shadow: -1px 10px 13px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 10px 13px 4px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 10px 13px 4px rgba(0, 0, 0, 0.75);
  }
  .nav-link {
    color: white !important;
    background: #292c7d;
  }
  .nav-link:hover {
    color: #fdc830 !important;
  }
  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #admin-bar {
    color: #292c7d !important;
  }
  #admin-bar:hover {
    color: #fdc830 !important;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-container {
    margin-top: 5%;
    background-image: linear-gradient(to left, #0e7fa7, #1d5787, #27386e);
  }
  .swiper-wrapper {
    background: transparent;
  }
  .swiper-slide {
    background: transparent;
  }

  .dropdown-submenu {
    position: relative;
    background-color: #292c7d !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white !important;
  }
  .dropdown-menu {
    background-color: #292c7d !important;
    min-height: 100px;
  
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white !important;
  }
  .blue-col {
    color: white !important;
    font-weight: 700 !important;
  }
  .dropdown-submenu a {
    color: white !important;
    text-decoration: none;
  }
  .dropdown-submenu a:hover {
    text-decoration: none;
    color: #fdc830 !important;
  }
  .second-drop {
    position: relative;
    background-color: #292c7d !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white !important;
    border-bottom: 2px solid #071a52;
  }

  #dmenu1 {
    top: 100%;
    left: 100%;
    margin-top: -1px;
  }
  #dmenu2 {
    top: 10%;
    left: -100%;
    margin-top: -1px;
  }
  #dmenu3 {
    top: 100%;
  }
  .lasthead {
    margin-top: 3%;
    margin-left: 4%;
    font-weight: 700;
    color: #fc5185;
  }
