<div class="container">
    <div class="summary">
        <div class="rating animation">
            <p>This course has been rated</p>
            <div class="bar-container">
                <div class="bar">4/5</div>
            </div>
        </div>
        <div class="recommend">
            <div class="animation">
                <div class="graphic-container">
                    <div id="activeBorder" class="active-border">
                        <div id="circle" class="circle">
                            <span class="prec 270" id="prec">80%</span>
                        </div>
                    </div>
                </div>
                <p>of students recommend Caramel Academy</p>
            </div>
        </div>
        <div class="time animation">
            <p id="sent-1">An average student takes</p>
            <p id="num-weeks">3.5</p>
            <p id="weeks">weeks</p>
            <p>To complete this course</p>
        </div>
    </div>

    <div class="reviews">
        <div class="user">
            <h4>John Doe</h4>
        </div>
        <div>
            <p>"This course was extremely good and enjoyanble"</p>
        </div>


    </div>

</div>