<nav class="navbar navbar-expand-sm">
  
    <a class="navbar-brand" href="admin-dashboard">
      <img src="../assets/Caramel-Horz.png" alt="logo" style="width:240px; height:65px; margin:0px 0px 0px 0px;">
    </a>
   </nav>
  <div align="center">
      <h3>College / University List</h3>
      
      <br/><br/>
      
<table id="colleges">
    <tr>
      <th *ngFor="let col of columns">
        {{col}}
      </th>
    </tr>
    <tr *ngFor="let college of colleges">
      <td *ngFor="let col of index">
        {{college[col]}}
      </td>
    </tr>
  </table>

  </div>   