<nav class="navbar navbar-expand-sm">
  
    <a class="navbar-brand" href="admin-dashboard">
      <img src="../assets/Caramel-Horz.png" alt="logo" style="width:240px; height:65px; margin:0px 0px 0px 0px;">
    </a>
   </nav>
  <div align="center">
      <h3>College / University List</h3>
      
      <br/><br/>
      <table role="table"  border="2px 1px 1px 1px solid"  cellpadding="10px">
          <thead role="rowgroup" class="table table-primary table-striped">
              <tr role="row">
                  <th role="columnheader">ID</th>
                  <th role="columnheader">College Name</th>
                  <th role="columnheader">University Name</th>
                  <th role="columnheader">Type Of University</th>
                  <th role="columnheader">Mobile</th>
                  <th role="columnheader">Email</th>
                  <th role="columnheader">State</th>
                  <th role="columnheader">Country</th>
                  <th role="columnheader">Skill</th>
                  <th role="columnheader">Others</th>
              </tr>
          </thead>
          <tbody  role="rowgroup">
            <tr role="row">
              <tr>
                  <td role="cell">3</td>
                  <td role="cell">RGMCET</td>
                  <td role="cell">JnTU</td>
                  <td role="cell">Deemed to be Universit</td>
                  <td role="cell">9703606937</td>
                  <td role="cell">venkatsanju70@gmail.com</td>
                  <td role="cell">ANdhr</td>
                  <td role="cell">India</td>
                  <td role="cell">Java</td>
                  <td role="cell">nothing</td>
              </tr><tr>
                  <td role="cell">14</td>
                  <td role="cell">RGM</td>
                  <td role="cell">JNTUK</td>
                  <td role="cell">Deemed to be Universit</td>
                  <td role="cell">9703606934</td>
                  <td role="cell">venkat.s@caramelit.com</td>
                  <td role="cell">Andhra prdesh</td>
                  <td role="cell">India</td>
                  <td role="cell">jsbd</td>
                  <td role="cell">jnbjdfnbdf</td>
              </tr>
          </tbody>
      </table>
  </div>   