<mat-tab-group dynamicHeight class="container">
    <mat-tab>
      <ng-template mat-tab-label class="tab-label">Course Information</ng-template>
      <app-course-info-tab></app-course-info-tab>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="tab-label">Learn More</ng-template>
      <app-table-of-contents-tab></app-table-of-contents-tab>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="tab-label">Projects</ng-template>
      <app-course-projects-tab></app-course-projects-tab>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="tab-label">Reviews</ng-template>
      <app-reviews-tab></app-reviews-tab>
    </mat-tab>
  </mat-tab-group>

  