<mat-tab-group dynamicHeight class="container">
    <mat-tab>
      <ng-template mat-tab-label class="tab-label">Course Information</ng-template>
      <app-course-info-tab></app-course-info-tab>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="tab-label">Learn More</ng-template>
      <app-table-of-contents-tab></app-table-of-contents-tab>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="tab-label">Additional Resources</ng-template>
      <h1>additional reosurce tab</h1>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="tab-label">Reviews</ng-template>
      <h1>reviwes tab</h1>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label class="tab-label">Notes</ng-template>
      <h1>notes tab</h1>
    </mat-tab>
  </mat-tab-group>

  