<main>
    <nav class="navbar navbar-expand-sm">

        <a class="navbar-brand" href="admin-dashboard">
          <img src="../assets/Caramel-Horz.png" alt="logo" style="width:240px; height:65px; margin:0px 0px 0px 0px;">
        </a>
       </nav>
      <div align="center">
          <h3>Subcategory List</h3>

          <br/><br/>
    <table id="courses" >
        <tr>
            <th>Subcategory Title</th>
            <th>Subcategory Description</th>
            <th>No of Courses</th>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

         <tr *ngFor="let subCategory of subCategories">

            <td>{{subCategory.title}}</td>

            <td>{{subCategory.description}}</td><td>{{subCategory.noOfCourses}}</td>>  <td> {{subCategory.CatId}}</td>
            <td>
                <button mat-button color="primary">Edit</button></td>
              <td>  <button mat-button color="warn" (click)="onDeleteSubCategory(subCategory.id)">Delete</button>
            </td>

    </tr>

    </table></div>
</main>



