<main>

    <div>

        <br/><br/>
        <table id="courses">
            <tr>
                <th>Subcategory Title</th>
                <th>No of Courses</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            <tr *ngFor="let subCategory of subCategories">

                <td>{{subCategory.title}}</td>
                <td>{{subCategory.noOfCourses}}</td>
                <td> <button mat-button color="primary" [routerLink]="['viewprogram',subCategory.id]">View</button>
                </td>
                <td>
                    <button mat-button color="primary">Edit</button></td>
                <td> <button mat-button color="warn" (click)="onDeleteSubCategory(subCategory.id)">Delete</button>
                </td>

            </tr>

        </table>
    </div>
</main>