<div class="container">
    <div class="dropdown">
        <button class="dropbtn" routerLink="program-swd">SOFTWARE DEVELOPMENT</button>
        <div class="dropdown-content">
            <div>
                <button class="categories" *ngFor="let category of categories" (click)="categorySelected(category.title)">{{category.title}}</button>
            </div>
            <div class="course-container">
                <button *ngFor="let course of courses" class="course-box">
                    <img src={{course.image}} class="course-image">
                    <p>{{course.name}}</p>
                </button>
            </div>
        </div>
      </div>   

</div>