.dropbtn {
    padding: 10px;
    font-size: 10px;
    border: none;
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
    color: white;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    color: white;
    width: 100%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 97.6%;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1!important;
  }
  
  .categories {
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 190px;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    background-color: #0e387d;
    border: 2px solid transparent;
  }
  
  .categories:hover {
      border: 2px solid white;
      color: #DFBE1A;
    }
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #13701e;}

  .course-container{
      height: auto;
      display: flex;
      flex-wrap: wrap;        /* adds rows if boxes don't fit on one row*/
      background-color: white;
  }

  .course-box{
      height: 150px;
      width: 150px;
      margin: 10px;
      border: 1px solid;
      border-radius: 10px;
      border-color: black;
      color: black;
      font-size: 12px;
      font-weight: bold;
      overflow: hidden;
  }

  .course-image{
      height: 110px;
      width: 100%;
      margin-bottom: 2px;
  }

  
