<title>CARAMEL IT ACADEMY</title>

<body>
	<div class="acaheader" id="topheader">
		<div class="container-fluid text5">
			<nav class="navbar navbar-expand-lg bg navbar-light">
				<!-- Brand-->
				<a class="navbar-brand logo1" routerLink=""><img src="../assets/caramelacademy.png" width="200px" height="70px"></a>

				<!-- Toggler/collapsibe Button -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- Navbar links -->
				<div class="collapse navbar-collapse" id="collapsibleNavbar">
					<ul class="navbar-nav ml-auto font-weight-bold">
						<li class="nav-item ">
							<a class="nav-link px-lg-3 alink" href="#">IT Services Home</a>
							<!-- <img src="../assets/chevron-down.svg" class="svg"/> -->
						</li>
						<li class="nav-item">
							<a class="nav-link px-lg-3 alink" routerLink="student-signin" outerLinkActive="active">Student</a>
						</li>
						<li class="nav-item">
							<a class="nav-link px-lg-3 alink" routerLink="instructor-signin" routerLinkActive="active">Instructor</a>
						</li>
						<li class="nav-item">
							<a class="nav-link px-lg-3 alink" routerLink="corporate-signin" routerLinkActive="active">Corporates</a>
						</li>
						<li class="nav-item">
							<a class="nav-link px-lg-3 alink" routerLink="university-signin" routerLinkActive="active">Universities</a>
            			</li>
            			<li class="nav-item">
							<a class="nav-link px-lg-3 alink" routerLink="admin-signin" routerLinkActive="active">Admin</a>
						</li>
						<li class="nav-item">
							<a class="nav-link px-lg-3 alink" routerLink="contactus" routerLinkActive="active">Contact Us</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
  </div>
  <router-outlet></router-outlet>
</body>