<title>CARAMEL IT ACADEMY</title>

	<div class="acaheader" id="topheader">
		<div class="container-fluid text5">
			<nav class="navbar navbar-expand-lg bg navbar-light">
				<!-- Brand-->
				<a class="navbar-brand logo1" routerLink=""><img src="../assets/caramelacademy.png" width="200px" height="70px"></a>

				<!-- Toggler/collapsibe Button -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- Navbar links -->
				<div class="collapse navbar-collapse" id="collapsibleNavbar">
					<ul class="navbar-nav ml-auto font-weight-bold">
						<li class="nav-item ">
							<a class="nav-link px-lg-3 alink" href="#">IT Services Home</a>
							<!-- <img src="../assets/chevron-down.svg" class="svg"/> -->
						</li>						
						<li class="nav-item">
							<div class="dropdown">
								<a href="#" class="nav-link px-lg-3 alink">Registration <i class="fa fa-caret-down"></i></a>
								<div class="dropdown-content">
									<a routerLink="/student-signin" routerLinkActive="active">Student</a>
									<a routerLink="/instructor-signin" routerLinkActive="active">Instructor</a>
									<a routerLink="/corporate-signin" routerLinkActive="active">Corporates</a>
									<a routerLink="/university-signin" routerLinkActive="active">Universities</a>
								<a style="color: #f1f1f1;" onmouseover="this.style.color='black'" onmouseout="this.style.color='#f1f1f1'" class="hide" routerLink="/admin-signin" routerLinkActive="active">Admin</a>
								</div>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link px-lg-3 alink" routerLink="contactus" routerLinkActive="active">Contact Us</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
  </div>