.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #E48F25;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.item-drop-cons:hover {
    background-color: rgba(76, 175, 80, 1);
    color: white;
    transition-duration: 1s;
}

.trans:hover {
    transform: translateY(20px);
}

.divider-drop-cons {
    margin: 0px !important;
}

.dropdown-menus {
    padding: 0px !important;
}

.item-drop-cons {
    padding: 10px !important;
}

.dropdown-submenu {
    position: relative;
    background-color: #292c7d !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white !important;
}

.dropdown-menu {
    background: #292c7d;
    border: none;
    margin-top: 15%;
    color: white;
    -webkit-box-shadow: -1px 10px 13px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 10px 13px 4px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 10px 13px 4px rgba(0, 0, 0, 0.75);
}

.nav-link {
    color: white !important;
    background: #292c7d;
}

.nav-link:hover {
    color: #fdc830 !important;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dropdown-submenu {
    position: relative;
    background-color: #292c7d !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white !important;
}

.dropdown-menu {
    background-color: #292c7d !important;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white !important;
}

.blue-col {
    color: white !important;
    font-weight: 700 !important;
}

.dropdown-submenu a {
    color: white !important;
    text-decoration: none;
}

.dropdown-submenu a:hover {
    text-decoration: none;
    color: #fdc830 !important;
}

.second-drop {
    position: relative;
    background-color: #292c7d !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white !important;
    border-bottom: 2px solid #071a52;
}

#dmenu1 {
    top: 100%;
    left: 100%;
    margin-top: -1px;
}

#dmenu2 {
    top: 10%;
    left: -100%;
    margin-top: -1px;
}

#dmenu3 {
    top: 100%;
}

