<div class="container">
    <div class="table">
        <h1>Table of Contents</h1>
        <ol class="content">
            <ng-container *ngFor="let module of modules; let i = index"> 
                <li class="module"><span class="title">{{module.title}}</span>
                    <button class="edit" type="button">Edit</button>
                    <ul class="submodule">
                        <ng-container *ngIf="modules[i].submodules.length > 0">
                            <ng-container *ngFor="let submodule of module.submodules">
                                <li class="subitem">{{submodule}}</li>
                            </ng-container>
                        </ng-container>
                    </ul>
                </li>
            </ng-container>
        </ol>
        <button type="button" id="add">+ Add Module</button>
    </div>
    <div class="instructor">
        <div class="instructor-image"><img src={{instructorImage}}></div>
        <div class="instructor-name"><h4>{{instructorName}}</h4></div>
        <p class="instructor-title"><em>Meet Your Instructor!</em></p>
        <div class="instructor-info">{{instructorInfo}}</div>
        <button class="edit" type="button" id="instructor-edit">Edit</button>
    </div>
</div>