.container{
    margin-left: 60px;
    margin-right: 20px;
    padding-right: 0px;
    margin-top: 40px;
    font-family: "Lato", Times, serif;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}

.table{
    float: left;
    min-width: 70%;
}

h1{
    border-bottom: 2px solid #04C5FF;
    margin-bottom: 30px;
    padding: 10px;
    width: 100%;
}

.content{
    margin-left: 70px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.module{
    margin-top: 30px;
    font-size: 23px;
}

.module:hover{
    transform: scale(1.02);
}

.title{
    border-bottom: 2px solid #04C5FF;
}

.submodule{
    padding-left: 30px;
    padding-top: 20px;
    font-size: 17px;
}

.subitem{
    padding-bottom: 5px;
}

.instructor{
    float: right;
    /* width: 100%; */
    border: 1px solid #ededed;
    border-radius: 20px;
    margin: 30px;
    padding: 20px;
    justify-content: center;
    background-color: #ededed;
    margin-left: 50px;
    overflow: hidden;
}

.instructor:hover{
    transform: scale(1.03);
}

.instructor-name{
    font-family: "Lato", Times, serif;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

.instructor-image{
    text-align: center;
    width: 100%;
}

.instructor-image img{
    width: 90%;
}

.instructor-title{
    font-size: 17px;
    color: #284c71;
    font-weight: bold;
}

.instructor-info{
    text-align: justify;
    color: #284c71;
}

.edit{
    padding: 0px;
    float: right;
    color: grey;
    text-decoration: underline;
    border: none;
    font-size: 17px;
    background-color: transparent;
  }

  #add{
    width: 100%;
    margin-top: 20px;
    padding: 0px;
    color: grey;
    text-decoration: underline;
    border: none;
    font-size: 17px;
    background-color: transparent;
  }

  #instructor-edit{
      margin-top: 20px;
  }