<app-navbar></app-navbar>
<div class="contain">
    <div fxLayout="row" class="main-heading">
        <div fxFlex="60">
            <h1 style="font-weight: bold;text-decoration: underline #03e916;">ABC College of PQR</h1>
            <p style="color:white">Lorem Ipsum is simply dummy text of the printing<br>and typesetting industry. Lorem Ipsum has been the industry's<br>standard dummy text ever since the 1500s</p>
        </div>
        <div fxFlex="40">
            <img src="../../assets/images/logo.png" height="auto" width="200px">
        </div>
    </div>
</div>
<div class="main-section">
    <div fxLayout="row">
        <div fxFlex="25" class="button-container">
            <mat-nav-list>
                <a mat-list-item routerLinkActive="list-item-active" routerLink="dashboard">Dashboard</a>
                <mat-divider></mat-divider>
                <a mat-list-item routerLinkActive="list-item-active" routerLink="course">Our Courses</a>
                <mat-divider></mat-divider>
                <a mat-list-item routerLinkActive="list-item-active" routerLink="manage">Student</a>
                <mat-divider></mat-divider>
                <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Notify Student</a>
                <mat-divider></mat-divider>
                <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Account</a>

            </mat-nav-list>
        </div>
        <div fxFlex="70">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<app-footer></app-footer>