.skills {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    border-right: 2px solid #04C5FF;
    padding:15px;
    border: none;
    text-align: center;
  }
  .skills-child {
    margin-bottom: 20px;
    font-family: "Lato", Times, serif;
    color: #284c71;
    background-color: transparent;
    text-align: center;
  }

  .btn-langs {
    height: 40px;
    width: 130px;
  
    font-weight: normal;
    font-size: 1em;
    background-color: transparent;
    border-bottom: 2px solid #04C5FF;
    font-family: "Lato", Times, serif;
    color: #284c71;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
  }

  .btn-langs:hover,
  .btnsend:hover {
    -ms-transform: scale(1.06);
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
  }



  .instructor {
    width: 100%;
    border-left: 2px solid #04C5FF;
    margin: 25px;
  }
  .message {
    color: #284c71;
    font-weight: normal;
    font-size: 1.2em;
    font-family: "Lato", Times, serif;
    margin-left: 5px;
  }
  .messageArea {
    background-color: #284c71;
    color: white;
    width: 90%;
    margin: 2px 0px 0px 5px;
  }
  .btnsend {
    font-weight: bold;
    background-color: #04C5FF;
    margin: 10px;
    margin-right: 15px;
  }
  