
.container{
    height: 70px;
    padding-left: 0px;
    padding-right: 0px;
    min-width: 100%;

}

button{
    width: 50%;
    height: 100%;
    background-color: #002333;
    border: none;
    border-right: 1px solid rgba(128, 128, 128, 0.219);
    color: white;
    font-size: 30px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    opacity: 0.9;
}
  
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  button:hover span {
    padding-right: 25px;
  }
  
  button:hover span:after {
    opacity: 1;
    right: 0;
  }

button:hover{
    opacity: 0.8;
}




