<div class="container">
    <div class="line">
        <h1>{{course.title}}</h1>
    </div>

    <div class="container-fluid main">
        <div class="row container-fluid">
          <div class="col-md-8">
            <!-- <img src={{slide}}  alt="File Not Found" /> -->
            <!-- <iframe src="CoreUIStack-Javascript.pps" width="800px" heigt="1000px"></iframe> -->
            <iframe
                  src="https://onedrive.live.com/embed?cid=1488ABC83D8F1B5E&resid=1488ABC83D8F1B5E%21122&authkey=AOLA8ubRNnNSyFI&em=2"
                  id="course-img"
                  width="100%"
                  height="100%"
                  frameborder="0"
                  scrolling="no"
                ></iframe>

          </div>
          <!-- <div>
            {{courseDiscription}}
          </div> -->

            <div class="col-md-4" id="wrapper">
                <div class="lecturelist">
                    <div class="duration">Lectures</div>
                    <div class="toprow scrollbar" id="style-14">
                        <div class="lec-title force-overflow" id="1" *ngFor="let lecture of lectures; index as i">
                            <div class="title">{{i+1}}. {{lecture}}</div>
                            <div class="lec-duration">1:56</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
