<div style="margin:0.5rem;">
    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex="50">
            <mat-card class="profile-card">
                <mat-toolbar color="primary">
                    <h3 style="color: azure;">COURSES</h3>
                </mat-toolbar>
                <div style="width:100%;height:10px"></div>
                <div class="course-container">
                    <div fxLayout="row">

                        <div fxFlex="30">
                            <img width="100" height="80" src="../../../assets/images/academy/digital-agency-slider-1.jpg">
                        </div>
                        <div fxFlex="70">
                            <div fxLayout="row">
                                <a href="" style="color: #ffffff;text-decoration: none;">Core UI</a>
                            </div>
                            <div style="height: 10px; width: 100%;"></div>
                            <div fxLayout="row">
                                <div fxFlex="30">
                                    <mat-chip-list aria-label="Course status">
                                        <mat-chip color="primary" matTooltip="status" selected>Running</mat-chip>
                                    </mat-chip-list>
                                </div>
                                <div fxFlex="30">
                                </div>
                                <div fxFlex="20">
                                    <span matTooltip="enrolled"><mat-icon>person</mat-icon>3</span>
                                </div>
                                <div fxFlex="20">
                                    <span matTooltip="review"><mat-icon>chat_bubble_outline</mat-icon>3</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width:100%;height:10px"></div>
                    <div fxLayout="row">

                        <div fxFlex="30">
                            <img width="100" height="80" src="../../../assets/images/academy/digital-agency-slider-1.jpg">
                        </div>
                        <div fxFlex="70">
                            <div fxLayout="row">
                                <a href="" style="color: #ffffff;text-decoration: none;">Core UI</a>
                            </div>
                            <div style="height: 10px; width: 100%;"></div>
                            <div fxLayout="row">
                                <div fxFlex="30">
                                    <mat-chip-list aria-label="Course status">
                                        <mat-chip color="primary" matTooltip="status" selected>Running</mat-chip>
                                    </mat-chip-list>
                                </div>
                                <div fxFlex="30">
                                </div>
                                <div fxFlex="20">
                                    <span matTooltip="enrolled"><mat-icon>person</mat-icon>3</span>
                                </div>
                                <div fxFlex="20">
                                    <span matTooltip="review"><mat-icon>chat_bubble_outline</mat-icon>3</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width:100%;height:10px"></div>
                    <div fxLayout="row">
                        <div fxFlex="30">
                            <img width="100" height="80" src="../../../assets/images/academy/digital-agency-slider-1.jpg">
                        </div>
                        <div fxFlex="70">
                            <div fxLayout="row">
                                <a href="" style="color: #ffffff;text-decoration: none;">Core UI</a>
                            </div>
                            <div style="height: 10px; width: 100%;"></div>
                            <div fxLayout="row">
                                <div fxFlex="30">
                                    <mat-chip-list aria-label="Course status">
                                        <mat-chip color="primary" matTooltip="status" selected>Running</mat-chip>
                                    </mat-chip-list>
                                </div>
                                <div fxFlex="30">
                                </div>
                                <div fxFlex="20">
                                    <span matTooltip="enrolled"><mat-icon>person</mat-icon>3</span>
                                </div>
                                <div fxFlex="20">
                                    <span matTooltip="review"><mat-icon>chat_bubble_outline</mat-icon>3</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width:100%;height:10px"></div>
                    <div fxLayout="row">
                        <div fxFlex="30">
                            <img width="100" height="80" src="../../../assets/images/academy/digital-agency-slider-1.jpg">
                        </div>
                        <div fxFlex="70">
                            <div fxLayout="row">
                                <a href="" style="color: #ffffff;text-decoration: none;">Core UI</a>
                            </div>
                            <div style="height: 10px; width: 100%;"></div>
                            <div fxLayout="row">
                                <div fxFlex="30">
                                    <mat-chip-list aria-label="Course status">
                                        <mat-chip color="primary" matTooltip="status" selected>Running</mat-chip>
                                    </mat-chip-list>
                                </div>
                                <div fxFlex="30">
                                </div>
                                <div fxFlex="20">
                                    <span matTooltip="enrolled"><mat-icon>person</mat-icon>3</span>
                                </div>
                                <div fxFlex="20">
                                    <span matTooltip="review"><mat-icon>chat_bubble_outline</mat-icon>3</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width:100%;height:10px"></div>
                    <div fxLayout="row">
                        <div fxFlex="30">
                            <img width="100" height="80" src="../../../assets/images/academy/digital-agency-slider-1.jpg">
                        </div>
                        <div fxFlex="70">
                            <div fxLayout="row">
                                <a href="" style="color: #ffffff;text-decoration: none;">Core UI</a>
                            </div>
                            <div style="height: 10px; width: 100%;"></div>
                            <div fxLayout="row">
                                <div fxFlex="40">
                                    <mat-chip-list aria-label="Course status">
                                        <mat-chip color="accent" matTooltip="status" selected>Yet to start</mat-chip>
                                    </mat-chip-list>
                                </div>
                                <div fxFlex="20">
                                </div>
                                <div fxFlex="20">
                                    <span matTooltip="enrolled"><mat-icon>person</mat-icon>3</span>
                                </div>
                                <div fxFlex="20">
                                    <span matTooltip="review"><mat-icon>chat_bubble_outline</mat-icon>3</span>
                                </div>
                            </div>
                        </div>
                    </div> <a routerLink="course" style="text-align: center;">view all</a>
                </div>
            </mat-card>
        </div>
        <div fxFlex="50" class="profile-card">
            <mat-toolbar>Analytics</mat-toolbar>
            <app-widget-card></app-widget-card>
            <a href="" style="text-align: center;">view all</a>
        </div>
    </div>
</div>