<br/>
<h3 class="page-title center">Choose Course</h3>
<br/>
    <mat-grid-list cols="3" [gutterSize]="'8px'" rowHeight="1:1">
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                  <!-- <div mat-card-avatar class="example-header-image"></div> -->
                  <mat-card-title>Course</mat-card-title>
                  <mat-card-subtitle>Course Number</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/course.png" alt="Photo of a Courses">
                <mat-card-actions>
                  <button mat-button>ADD COURSE</button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                  <!-- <div mat-card-avatar class="example-header-image"></div> -->
                  <mat-card-title>Course</mat-card-title>
                  <mat-card-subtitle>Course Number</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/course.png" alt="Photo of a Courses">
                <mat-card-actions>
                  <button mat-button>ADD COURSE</button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                  <!-- <div mat-card-avatar class="example-header-image"></div> -->
                  <mat-card-title>Course</mat-card-title>
                  <mat-card-subtitle>Course Number</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../assets/course.png" alt="Photo of a Courses">
                <mat-card-actions>
                  <button mat-button>ADD COURSE</button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="example-card">
              <mat-card-header>
                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                <mat-card-title>Course</mat-card-title>
                <mat-card-subtitle>Course Number</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="../../assets/course.png" alt="Photo of a Courses">
              <mat-card-actions>
                <button mat-button>ADD COURSE</button>
              </mat-card-actions>
            </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title>Course</mat-card-title>
              <mat-card-subtitle>Course Number</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/course.png" alt="Photo of a Courses">
            <mat-card-actions>
              <button mat-button>ADD COURSE</button>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
          <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>Course</mat-card-title>
            <mat-card-subtitle>Course Number</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../../assets/course.png" alt="Photo of a Courses">
          <mat-card-actions>
            <button mat-button>ADD COURSE</button>
          </mat-card-actions>
        </mat-card>
  </mat-grid-tile>
      </mat-grid-list>


      <button class="btn btn-dark back-btn" routerLink="course-association" routerLinkActive="active">Back</button>
      <!-- 
          <div class="row">
<div class="card" style="width:18rem;">
    <div class="card-header"><p class="lead">Python</p></div>
    <div class="card-body">
        <img src="./assets/images/python.png" class="course-image">
    </div>
    <div class="card-footer"><button class="btn btn-success">Add Course</button></div>
</div>
<div class="card" style="width:18rem;">
    <div class="card-header"><p class="lead">Python</p></div>
    <div class="card-body">
        <img src="./assets/images/python.png" class="course-image">
    </div>
    <div class="card-footer"><button class="btn btn-success">Add Course</button></div>
</div>
</div>
<div class="row">
    <div class="card" style="width:18rem;">
        <div class="card-header"><p class="lead">Python</p></div>
        <div class="card-body">
            <img src="./assets/images/python.png" class="course-image">
        </div>
        <div class="card-footer"><button class="btn btn-success">Add Course</button></div>
    </div>
    <div class="card" style="width:18rem;">
        <div class="card-header"><p class="lead">Python</p></div>
        <div class="card-body">
            <img src="./assets/images/python.png" class="course-image">
        </div>
        <div class="card-footer"><button class="btn btn-success">Add Course</button></div>
    </div>
    </div>
    <div class="row">
        
    </div>
      -->