.container {
    margin-top: 40px;
    /* align-items: left; */
}

.slider {
    max-width: 400px;
    margin-top: 20px;
    align-self: flex-end;
    font-family: "Montserrat", sans-serif;
}

h2 {
    /* margin-left: 150px; */
    padding-right: 0px;
    color: blue;
    font-family: "Montserrat", sans-serif;
    font-size: xx-large;
    font-weight: bolder;
}

.showimage {
    max-height: 550px;
    max-width: 100%;
    width: auto;
}

.container {
    padding: 0%;
}