
.slider {
    max-width: 400px;
    margin-top: 40px;
    /* align-self: flex-end; */
    font-family: "Montserrat", sans-serif;
}

h2 {
    padding-right: 0px;
    color: blue;
    font-family: "Montserrat", sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 40px;
}

button{
    margin-top: 40px;
}

.showimage {
    max-height: 550px;
    max-width: 100%;
    width: auto;
}
