.container {
    margin: 50px auto 50px;
}

.slider {
    max-width: 30%;
    margin-top: 20px;
}

h2 {
    margin-left: 150px;
    padding-right: 0px;
    color: blue;
    font-family: "Montserrat", sans-serif;
    font-size: xx-large;
    font-weight: bolder;
}

.showimage {
    max-height: 600px;
    width: 100%;
}

.container {
    padding: 0%;
}