<!-- <div class="container"> -->
    <div fxLayout="row" fxLayout.md="col" >
        <div fxFlex="30">
            <img class="slider" src="../../../assets/images/academy/show5.png">
        </div>

        <div fxFlex="70">
            <h1>WHY CARAMEL IT</h1>
        </div>
        <div fxFlex>
            <button mat-button color="primary" (click)="toggle()"><mat-icon>{{icon}}</mat-icon>{{slidetext}}</button>
        </div>
    </div>
<!-- </div> -->

<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
    <a href="https://caramelit.com/"><img src="../../../assets/images/academy/caramelitservices.png" class="showimage"></a>
</div>


