.container {
    margin-left: 60px;
    padding-top: 50px;
    /* padding-bottom: 30px; */
    width: 100%;
    font-family: "Lato", Times, serif;
}

h3{
    border-bottom: 2px solid #04C5FF;
    margin-bottom: 30px;
    padding: 10px;
    /* width: 100%; */
}

.projects{
    margin-bottom: 30px;
    min-width: 100%;
}

.project{
    height: 300px;
    width: 300px;
    border: 1px solid #ededed;
    border-radius: 20px;
    margin: 40px;
    padding: 20px;
    justify-content: center;
    background-color: #ededed;
    text-align: center;
}


.project:hover{
    transform: scale(1.03);
}

.project img{
    max-height: 50%;
    max-width: 80%;
}

.project h5{
    margin-top: 15px;
    margin-bottom: 10px;
    color: #284c71;
}

.project p{
    font-size: 13px;
    text-align: justify;
}

.edit{
    padding: 0px;
    float: right;
    color: grey;
    text-decoration: underline;
    border: none;
    font-size: 17px;
    background-color: transparent;
}