<mat-toolbar color="primary">
    ADD COURSES <button class="btn btn-primary view-course" routerLink="/list_course">VIEW COURSES</button>
    <button class="btn btn-primary view-categories" routerLink="/admin-dashboard/manage-category/list-category">VIEW CATEGORIES</button>
    <button class="btn btn-primary view-subcategories" routerLink="/admin-dashboard/manage-category/list-subcategory">VIEW SUB-CATEGORIES</button>
    
</mat-toolbar>
<main>
    <app-create-course></app-create-course>

    <button class="btn btn-primary admin" routerLink="/admin-dashboard">Back to Admin Dashboard</button>
</main>
