<mat-horizontal-stepper>
    <mat-step [stepControl]="courseDetailFormGroup">
        <form [formGroup]="courseDetailFormGroup" (ngSubmit)="courseForm()" #courseM="ngForm">
            <ng-template matStepLabel>Fill the course details</ng-template>
            <mat-form-field>
                <input matInput placeholder="Course title" formControlName="title" required>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput row="6" name="description" placeholder="Description" formControlName="description"></textarea>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="text" name="noOfModule" #noOfModule placeholder="No of Modules" formControlName="noOfModule">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Select Category</mat-label>
                <mat-select formControlName="selectCategory" #selectCat (selectionChange)="fetchSubCat(selectCat.value)" name="selectCategory">
                    <mat-option *ngFor="let category of categories" name="catId" [value]="category.id">
                        {{category.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Select SubCategory</mat-label>
                <mat-select name="subcateId" #subcaetId formControlName="subcateogoryId">
                    <mat-option *ngFor="let subcategory  of updatedSubCategory" name="subcatId" [value]="subcategory.id">
                        {{subcategory.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div>
                <button mat-button matStepperNext (click)="getNoOfModule(noOfModule)">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="moduleDetailFormGroup">
        <form [formGroup]="moduleDetailFormGroup" (ngSubmit)="moduleForm()" #moduleM="ngForm">
            <ng-template matStepLabel>Fill the course details</ng-template>
            <br>
            <div>
                <mat-label>Upload Image for Course title</mat-label><br>
                <button mat-raised-button (click)="imageButton.click()">Pick me</button>
                <input type="file" hidden #imageButton>
            </div>
            <br>
            <div>
                <span style="font-family: aria-label,aria-labelledby;">Fill details</span>
                <mat-slide-toggle #slide>Upload Details</mat-slide-toggle>
            </div>
            <br>
            <div *ngIf="slide.checked">
                <mat-label>Upload table of content</mat-label><br>
                <button mat-raised-button (click)="fileButton.click()">Pick me</button>
                <input type="file" hidden #fileButton>
            </div>
            <div *ngIf="!slide.checked">
                <mat-tab-group *ngFor="let tab of nom">
                    <mat-tab>
                        hello
                    </mat-tab>

                </mat-tab-group>
            </div>

            <div>
                <button mat-button matStepperNext>Next</button>
                <button mat-button matStepperPrevious>Previous</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Conformation</ng-template>
        <button mat-button matStepperPrevious>Previous</button>
        <button mat-button matStepperReset>Reset</button>
        <button mat-button type="button" (click)="courseM.ngSubmit.emit();moduleM.ngSubmit.emit()">
          Submit
        </button>
    </mat-step>
</mat-horizontal-stepper>