<title>Organisation Registration</title>
<body class="register_bg">
<a class="navbar-brand" routerLink="">
  <img src="../assets/Caramellogo.png" alt="logo" style="width:240px; height:65px; margin:0px 0px 0px 0px;">
</a>

    <!-- <div class="middle-box text-center loginscreen animated fadeInDown">
      <div> -->
        
    <br/><br/><br/><br/>
    <div class="container" style="margin-top:-40px;">
      <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h2 align=center style="color:#111;"><b>New Organisation/Corporate Registration</b></h2><br>
  
        <form [formGroup]="corp_reg" novalidate autocomplete="off" action="/lms/organisation/organisation_register" method="post" class="m-t" role="form"
          data-toggle="validator"><input type="hidden" name="_csrf" value="ac40ba5f-f3d4-4081-b170-9384dad8cc61"/>
      
          <div class="form-group input-group has-feedback ">
            
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-user stugl"></span>
            </span>
            
            <input formControlName="corporateName" type="text" placeholder="Your Organisation Name...." class="form-control stureg" required id="organisationName" name="organisationName" value="" />
            <span class="glyphicon form-control-feedback"
              aria-hidden="true"></span>
          </div>
       <!--         -------OrganisationName closes--------           -->
       
              <div class="form-group input-group has-feedback">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-envelope stugl"></span>
            </span>
            <input formControlName="emailAddress" type="email" placeholder="your Email Address...." class="form-control stureg"
              data-error="This email address is invalid" required id="email" name="email" value="" />
            <span class="glyphicon form-control-feedback"
              aria-hidden="true"></span>
          </div>
        <!--         -------email closes--------           -->
          <div class="form-group input-group has-feedback">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-earphone stugl"></span>
            </span>
            <input formControlName="mobileNumber" type="number" placeholder="Your Mobile Number...." class="form-control stureg"
              data-error="This Mobile Number is invalid" required id="mobile" name="mobile" value="" />
            <span class="glyphicon form-control-feedback"
              aria-hidden="true"></span>
          </div>
          <!--         -------mobile closes--------           -->
            
          <div class="form-group input-group has-feedback ">
            
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-edit stugl"></span>
            </span>
            
            <textarea formControlName="others" placeholder="Others....." class="form-control stureg" required id="others" name="others" ></textarea>
            <span class="glyphicon form-control-feedback"
              aria-hidden="true"></span>
          </div>
          <!--         -------others closes--------           -->
            <br>
          
          <button type="submit"
            class="btn btn-primary full-width m-b">Register</button>
          <br>
          <h3><a routerLink="/corporate-signin" routerLinkActive="active" style="color:#111;">Already Registered? Please Login</a></h3><br><br>
        </form>
        </div>
        <div class="col-md-3"></div>
       </div>
      </div>
</body>