<h2 MatSubheader color="primary">MANAGE</h2>

<div class="container" fxLayoutGap="10px" fxLayout="row">
    <div fxFlex="50">
        <div fxFlex fxLayout="column" class="layout">
            <button mat-raised-button color="primary" (click)="showCateDiv()">Structure</button>
            <div *ngIf="showCategory">
                <mat-card fxLayout="row">
                    <div fxFlex fxLayout="column">
                        <a mat-raised-button color="primary" routerLink="add-structure">Add</a>
                        <button mat-raised-button color="primary" routerLink="view-structure">View</button>
                    </div>
                </mat-card>
            </div>
            <!-- <button mat-raised-button color="primary" (click)="showSubCat()">Sub Category</button>
            <div *ngIf="showSubCategory">
                <mat-card fxLayout="row">
                    <div fxFlex fxLayout="column">
                        <button mat-raised-button color="primary" (click)="openAddSubCatForm()">Add</button>
                        <button mat-raised-button color="primary" (click)="openDeleteSubCatForm()">Delete</button>

                    </div>
                    <div fxFlex fxLayout="column">
                        <button mat-raised-button color="primary" (click)="openViewSubCatForm()">View</button>
                        <button mat-raised-button color="primary" (click)="openUpdateSubCatForm()">Update</button>
                    </div>
                </mat-card>
            </div>
            <button mat-raised-button color="primary" (click)="showCourses()">Courses</button>
            <div *ngIf="showCourse">
                <mat-card fxLayout="row">
                    <div fxFlex fxLayout="column">
                        <button mat-raised-button color="primary" (click)="openAddCourseForm()">Add</button>
                        <button mat-raised-button color="primary" (click)="openDeleteCourseForm()">Delete</button>

                    </div>
                    <div fxFlex fxLayout="column">
                        <button mat-raised-button color="primary" (click)="openViewCourseForm()"><app-viewcat [categories]="storedCategories">View</app-viewcat></button>
                        <button mat-raised-button color="primary" (click)="openUpdateCourseForm()">Update</button>

                    </div>
                </mat-card> -->
            <!-- </div> -->
        </div>
    </div>
    <div fxFlex="50 ">
        <div fxFlex fxLayout="column " class="layout">
            <button mat-raised-button color="primary">Student</button>
            <button mat-raised-button color="primary">University</button>
            <button mat-raised-button color="primary">Instructor</button>
        </div>
    </div>
</div>
