<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(88, 175, 209);"> <!--rgb(182, 128, 231);-->
    <img routerLink="" routerLinkActive="active" class="logo1 horizontal-logo" src="../assets/caramelacademy.png" width="150px" alt="forecastr logo">
      <a class="navbar-brand" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <form class="form-inline my-2 my-lg-0 example-spacer">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
      </form>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
            <button class="btn">
          <a class="nav-link" href="#">Wishlist  <i class="fa fa-heart"></i></a>
        </button>
        </li>
        <li class="nav-item">
            <button class="btn">
          <a class="nav-link" href="#">Cart  <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        </button>
        </li>
      </ul>
    </div>
  </nav>
<div>
  <mat-drawer-container class="example-container" style="width: 100%; height: 100%;">
        <!--<div class="example-sidenav-content">
            <button class="btn btn-outline-dark" type="button" mat-button (click)="drawer.toggle()">
              <span>MENU<i class="fa fa-bars"></i></span>
            </button>
          </div>
        </div> -->
    <mat-drawer #drawer class="sidenav-container" mode="side" disableClose="true" opened="true"
    
    (mouseenter)="showMenu=!showMenu; mainHover=true" (mouseleave)="showMenu=!showMenu; mainHover=false;">
      <!-- <div id="prodisplay">
          <h1>Student Name: {{userDetails.name}}</h1>
          <div class="image-cropper">
          <img src="../../assets/student.svg" class="center">
            </div>
        </div> -->
    <!-- <div class="sidebutarea">
    <button routerLink="s-enrolledcourses" routerLinkActive="active" class="btn btn-dark sidebut">
        <span>MY COURSES<i class="fa fa-th-list"></i></span>
        <a href=""></a>
    </button>
    <i class="fa fa-grid"></i>
    </div>
    <div class="sidebutarea">
        <button class="btn btn-dark sidebut">
            <span>PROGRESS REPORT<i class="fa fa-line-chart"></i></span>
            <a href=""></a>
        </button>
    </div>
    <div class="sidebutarea">
        <button class="btn btn-dark sidebut">
            <span>EXAM REPORT<i class="fa fa-bar-chart"></i></span>
            <a href=""></a>
        </button>
    </div>
    <div class="logout">
        <button class="btn btn-dark">
        <h1>Logout <i class="fa fa-chevron-circle-right"></i></h1>
    </button>
    </div> -->

    <mat-nav-list>
      <mat-list-item routerLink="enrolledcourses" routerLinkActive="active">
        <mat-icon mat-list-icon>list</mat-icon>
        <h4 mat-line  *ngIf="showMenu">MY COURSES</h4>
      </mat-list-item>
      <mat-list-item routerLink="progrep" routerLinkActive="active">
        <mat-icon mat-list-icon>show_chart</mat-icon>
        <h4 mat-line  *ngIf="showMenu">PROGRESS REPORT</h4>
      </mat-list-item>
      <mat-list-item routerLink="examrep" routerLinkActive="active">
        <mat-icon mat-list-icon>bar_chart</mat-icon>
        <h4 mat-line  *ngIf="showMenu">EXAM REPORT</h4>
      </mat-list-item>
      <mat-list-item (click)="onLogout();">
        <mat-icon mat-list-icon>login</mat-icon>
        <h4 mat-line *ngIf="showMenu">LOGOUT</h4>
      </mat-list-item>
    </mat-nav-list>


    </mat-drawer>
  <mat-drawer-content [ngStyle]="mainHover ? {'opacity': 0.2} : {'opacity':1}"> 
    <div id="prodisplay" >
      <h1>Welcome Student Name: Student</h1> <!--{{userDetails.name}}-->
      <div class="image-cropper" routerLink="/profile-page" routerLinkActive="active">
      <img src="../../assets/student.svg" class="center">
        </div>
    </div>
    <router-outlet></router-outlet>
  </mat-drawer-content>
    <!-- <div class="main-content"> -->
  </mat-drawer-container>

<app-footer></app-footer>
