  .example-spacer {
    flex: 1 1 auto;
  }

  .example-container {
    width: 100%;
    height: 100%;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: left;
    justify-content: left;
    padding-top: 15px;
  }
  


#prodisplay{
    margin: 0px;
    background-color: rgb(111, 112, 112);
    text-align: center;
    padding: 20px;
    color: white;
}
#prodisplay h1{
    padding: 10px;
    font-weight: bold;
}


  p{
      text-align: center;
  }
  i{
      font-size: x-large;
  }
  .image-cropper {
    height: 100px;
    position: relative;
    overflow: hidden;
    margin: 30px;
    display: block;
    text-align: center;
}

.image-cropper img {
    margin: 0 auto;
    height: 100px;
    width: 90px;
}
.sidebutarea{
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    padding-bottom: 50px;
}
.sidebut{
    width: 100%;
    padding: 20px;
    border-radius: 30%;
}
.sidenavv{
    background-color: rgb(111, 112, 112);
}
.logout{
    padding-top: 30px;
    text-align: center;
}

button i{
    padding-left: 10px;
}

/*MAIN CONTENT SECTION*/
.main-content{
    padding: 10px;
    height: 120%;
}

.example-card {
    max-width: 400px;
    margin: 20px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }




  .sidenav-container {
    height: 100%;
  }
  .sidenav-container .sidenav {
    width: 100px;
    background-color: #fff;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  .sidenav-container .sidenav .home-button {
    width: 100%;
    padding-top: 60px;
    margin-bottom: 30px;
    display: inline-block;
  }
  .sidenav-container .sidenav .home-button .app-logo {
    width: 120px;
    margin: 0 auto;
    display: block;
  }
  .sidenav-container .sidenav .mat-toolbar {
    background: inherit;
  }
  .sidenav-container .sidenav .navigation-list {
    padding-top: 30px;
  }
  .sidenav-container .sidenav .navigation-list .navigation-item.active {
    background: #dcf0fb;
    color: #062639;
  }
  .sidenav-container .sidenav .navigation-list .navigation-item .mat-icon {
    margin-right: 5px;
  }
  .sidenav-container .sidenav .navigation-list .navigation-item .navigation-item-label {
    padding-top: 2px;
  }
  .sidenav-container .sidenav .navigation-list .navigation-divider {
    color: #dcf0fb;
    border-color: #dcf0fb;
  }
  .sidenav-container .sidenav-content .sidenav-content-toolbar {
    background: #062639;
    color: #fff;
    padding-left: 60px;
  }
  .sidenav-container .sidenav-content .sidenav-content-toolbar .menu-button {
    color: #fff;
    background: #062639;
  }
  .sidenav-container .sidenav-content .sidenav-content-toolbar .menu-button:focus {
    outline: none;
  }
  .sidenav-container .sidenav-content .sidenav-content-toolbar .navbar-link {
    color: #fff;
    padding-right: 10px;
    cursor: pointer;
  }
  .sidenav-container .sidenav-content .sidenav-content-toolbar .navbar-link:hover {
    color: #fff;
  }
  .sidenav-container .sidenav-content .sidenav-content-toolbar .navbar-link:focus {
    outline: none;
  }
  .sidenav-container .sidenav-content .sidenav-content-toolbar .gifts a {
    color: #fff;
    display: inline-block;
    padding-top: 7px;
    padding-right: 20px;
    position: relative;
  }
  .sidenav-container .sidenav-content .sidenav-content-toolbar .gifts a .mat-badge-content {
    background: #d3544d;
  }
  .sidenav-container .sidenav-content .sidenav-content-toolbar .gifts:focus {
    outline: none;
  }
  .sidenav-container .sidenav-content .filler {
    flex: 1 1 auto;
  }
  .sidenav-container .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  /*left sidenav style override*/
  mat-drawer:not(.mat-drawer-opened) {
    transform: translate3d(0, 0, 0) !important;
    visibility: visible !important;
    width: 60px !important;
    overflow: hidden;
  }
  mat-drawer:not(.mat-drawer-opened) .navigation-item-label {
    display: none !important;
  }
  mat-drawer:not(.mat-drawer-opened) .home-button {
    display: none !important;
  }