<app-navbar></app-navbar>
<!-- <app-videosection [course] = "selectedCourse"></app-videosection> -->
<h2 >{{selectedCourse.title}}</h2>

 <app-course-content-display [course]= "selectedCourse"></app-course-content-display>  
<app-course-page-tabs></app-course-page-tabs>
<!-- <app-page-content></app-page-content> -->


<!-- <h1>Course Content</h1>
<div class="container"
     fxLayout="row"
     fxLayoutGap="10px">


     EEEEEEEEEEEEENNNNNNNNNNNRRRRRRRRRRRRRRRRROOOOOOOOOOOOOOOOOLLLLLLLLLLLLLLLLLLLLLLLLLL

<mat-accordion fxFlex>
    <mat-expansion-panel *ngFor="let chapter of selectedCourse.chapter"  >
    <mat-expansion-panel-header>
        <mat-panel-title>
          {{chapter.name}}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <p *ngFor="let lecture of selectedCourse.chapter">
        {{lecture.name}}
    </p>
    </mat-expansion-panel>
  </mat-accordion>

  
  <div class="card text-center center">
    <div class="card-body">
      <img height="200px" src={{selectedCourse.image}} alt={{selectedCourse.name}}>
      <h5 class="card-title">Interested to learn?</h5><br/>
      <p>&emsp;<i class="fa fa-play-circle" style="font-size:1rem;"></i>&emsp;Tutorials</p>
			  <p>&emsp;<i class="fa fa-file-text" style="font-size:1rem;"></i>&emsp;Articles, Videos</p>
			  <p>&emsp;<i class="fa fa-pencil" style="font-size:1rem;"></i>&emsp;Full Time Lectures</p>
			  <p>&emsp;<i class="fa fa-eye" style="font-size:1rem;"></i>&emsp;Real Scenarios</p>
			  <p>&emsp;<i class="fa fa-road" style="font-size:1rem"></i>&emsp;Project Work</p>
			  <p>&emsp;<i class="fa fa-clone" style="font-size:1rem;"></i>&emsp;Certification of Completion</p>
			</div>
      <button class="enroll-button center" *ngIf="addedToCart == false" (click)="addToCart(selectedCourse); addedToCart=true;">Enroll Now</button>
      <button class="enroll-button center" *ngIf="addedToCart" routerLink="/student-cart" routerLinkActive="active">Go to Cart</button>
    </div>
</div>   -->
 <!-- <app-other-courses [course]= "selectedCourse"></app-other-courses> -->
<app-footer></app-footer>