<div class="container">
    <div fxLayout="row" fxLayout.md="col">
        <div fxFlex="20">
            <mat-slide-toggle #checkbox hidden>{{slidetext}}</mat-slide-toggle>
            <button mat-button (click)="checkbox.toggle();onSlideChange()"><mat-icon>{{icon}}</mat-icon>{{slidetext}}</button>
        </div>
        <div fxFlex="50">
            <h2>HOW WE WORK</h2>
        </div>
        <div fxFlex="30">
            <img class="slider" src="../../../assets/images/academy/show18.png">
        </div>
    </div>
</div>
<span></span>
<div *ngIf=checkbox.checked>
    <img src="../../../assets/images/academy/how it works.png" class="showimage">
</div>