<div class="container">
    <div fxLayout="row" fxLayout.md="col">
        <div fxFlex="40">
            <button (click)="toggle()" mat-button color="primary"><mat-icon>{{icon}}</mat-icon>{{slidetext}}</button>
        </div>
        <div fxFlex="40">
            <h2>LEARN MORE</h2>
        </div>
        <div fxFlex="20">
            <img class="slider" src="../../../assets/images/academy/show18.png">
        </div>
    </div>
</div>


<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
<app-stats></app-stats>
</div>