.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contain {
    position: relative;
    text-align: center;
}

.about {
    width: 200px;
    height: 200px;
}

.container{
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 0px;
    padding: 0px;
}


.slider {
    width: "100%";
    max-width: 500px;
    height: auto;
    /* align-self: flex-end; */
}

h2 {
    /* margin-left: 150px; */
    padding-right: 0px;
    font-family: "Montserrat", sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    text-align: right;
    margin-right: 20px;
}

.stats{
    height: 100%;
    max-height: 400px;
}