<nav class="navbar navbar-expand-sm">
  
    <a class="navbar-brand" href="/admin-dashboard">
      <img src="../assets/Caramel-Horz.png" alt="logo" style="width:240px; height:65px; margin:0px 0px 0px 0px;">
    </a>
   </nav>
  <div align="center">
      <h3>Student / User List</h3><br/>
     
      <table role="table"  border = "2px 1px 1px 1px solid"  cellpadding="10px">
          <thead role="rowgroup" class="table table-primary table-striped">
              <tr role="row">
                  <th role="columnheader">ID</th>
                  <th role="columnheader">First Name</th>
                  <th role="columnheader">Last Name</th>
                  <th role="columnheader">Mobile</th>
                  <th role="columnheader">Email</th>
                  <th role="columnheader">D.O.B [YYYY/MM/DD]</th>
                  <th role="columnheader">State</th>
                 <!--   <th role="columnheader">Country</th>-->
                  
                  <th role="columnheader">Highest Qualification</th>
                  <th role="columnheader">College Name</th>
                  <th role="columnheader">University Name</th>
                  <th role="columnheader">Specialisation</th>
                  <th role="columnheader">Student Roll</th>
                  <th role="columnheader">Skill</th>
                  <th role="columnheader">College State</th>
              </tr>
          </thead>
          <tbody  role="rowgroup">
            <tr role="row">
              <tr>
                  <td role="cell">1</td>
                  <td role="cell">Vekatasiva</td>
                  <td role="cell">Sampangi</td>
                  <td role="cell">9703606934</td>
                  <td role="cell">venkatsanju70@gmail.com</td>
                  <td role="cell">1997-02-16</td>
                  <td role="cell">Andhra</td>
                  <!--  <td role="cell" th:text="${user.country}">Country</td>-->
                  <td role="cell">B.Tech</td>
                  <td role="cell">RGMCET</td>
                  <td role="cell">JNTU</td>
                  <td role="cell">MECH</td>
                  <td role="cell">15091A03K9</td>
                  <td role="cell">ANDHRAPRADESH</td>
              </tr>
          </tbody>
      </table>
  </div>      