<!--header-->
<mat-toolbar>
    <!--medium to large screen-->
    <mat-toolbar-row fxShow="true" fxHide.lt-sm="true">
        <img src="../assets/caramelacademy.png" alt="logo" style="width:240px; height:65px; margin:0px 0px 0px 0px;"/>
        <h1 class="h1-decor" fxFlex="80%" fxLayoutAlign="center" style="font-size: 30px;">Admin Dashboard</h1>
        <button fxFlex="20%" class="logout_button">logout</button><br/>
    </mat-toolbar-row>
    <!--mobile screen-->
    <mat-toolbar-row fxShow="true" fxHide.gt-xs="true">
        <img src="../assets/caramelacademy.png" alt="logo" style="width:240px; height:65px; margin:0px 0px 0px 0px;"/>
        <span fxFlex="30%"></span>
        <button class="logout_button">logout</button>
    </mat-toolbar-row>
</mat-toolbar>

<!--mobile screen header and hr-->
<h1 class="h1-decor" fxLayoutAlign="center" fxShow="true" fxHide.gt-xs="true">Admin Dashboard</h1>
<hr fxLayoutAlign="center" fxShow="true" fxHide.gt-xs="true" class="divider"/>

<!--medium to large screen hr-->
<hr fxLayoutAlign="center" fxShow="true" fxHide.lt-sm="true" class="divider"/>

<!--homepage options-->
<table width="100%" cell-spacing="50">
    <tr>
        <td>
            <button class="button_info">
            <a href="#">
                <img src="../assets/category.svg" class="icon" alt="logo"/>
            </a>
            Manage Category(Program)
            </button>
        </td>
        <td>
            <button class="button_info">
                <a href="#">
                    <img src="../assets/student.svg" class="icon" alt="logo"/>
                </a>
                Manage Student Enrollment
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="button_info">
                <a href="#">
                    <img src="../assets/category.svg" class="icon" alt="logo"/>
                </a>
                Manage Sub-Category(Sub-Program)
            </button>
        </td>
        <td>
            <button class="button_info">
                <a href="#">
                    <img src="../assets/instructor.svg" class="icon" alt="logo"/>
                </a>
                Manage Instructor Enrollment
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="button_info">
                <a href="#">
                    <img src="../assets/courses.svg" class="icon" alt="logo"/>
                </a>
                Manage Course
            </button>
        </td>
        <td>
            <button class="button_info">
                <a href="#">
                    <img src="../assets/college.svg" class="icon" alt="logo"/>
                </a>
                College(University) Administration
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="button_info">
                <a href="#">
                    <img src="../assets/dashboard.svg" class="icon" alt="logo"/>
                </a>
                Reports and Dashboard
            </button>
        </td>
        <td>
            <button class="button_info">
                <a href="#">
                    <img src="../assets/corporate.svg" class="icon" alt="logo"/>
                </a>
                Corporate(Organisation) Administration
            </button>
        </td>
    </tr>
    <tr>
        <td class="empty"></td>
        <td>
            <button class="button_info">
                <a href="#">
                    <img src="../assets/questionbank.svg" class="icon" alt="logo"/>
                </a>
                Manage Question Bank
            </button>
        </td>
    </tr>
    <tr>
        <td class="empty"></td>
        <td>
            <button class="button_info">
                <a href="#">
                    <img src="../assets/recommended.svg" class="icon" alt="logo"/>
                </a>
                Manage Recommendation System
            </button>
        </td>
    </tr>
</table>