<body>
    <nav class="navbar navbar-expand-sm bg-info navbar-info">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
      <img src="../assets/Caramellogo.png" alt="logo" style="width:240px; height:65px; margin:0px 0px 0px 0px;">
    </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon">
            <i class="fa fa-bars" style="color:#fff; font-size:28px;"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">  
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
    
    
     
      <li class="nav-item dropdown">
        <a class="nav-link dropbtn" href="admin-signin" style="font-size:25px;margin-left:40px;"><b>Logout</b></a>
      </li>
  
    </ul>
    </div>
  </nav><br/><br/>
  <b>Welcome Admin.....!</b><br/><br/><br/>
  <div class="container">
    <div class="row">
        <div class="col-md-2"></div>
      <div class="col-md-8">
      <div class="row">
           <div class="col-md-5 text-center card">
               <a href="user_list">Student / User</a>
            </div>
           <div class="col-md-1"></div>
          <div class="col-md-5 text-center card">
                  <a href="/college_list">College / University</a>
          </div>
  
          <div class="col-md-5 text-center card">
                    <a href="/instructor_list">Instructor</a>
                     
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5 text-center card">
                <a href="/organisation_list">Corporate / Organisation</a>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5 text-center card">
                <a href="/list_course">Courses</a>
          </div>
      </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</body>
