  
  .swiper-container {
    width: 100%;
    height: auto;
    margin-top: 5%;
  }

  .sub-head {
    width: 60%;
    margin-top: 30px;
    margin-left: 10px;
    font-weight: 800;
    border-bottom: 2px solid #fc5185;
  }
  .ccontent {
    width: 100%;
    height: auto;
    background-color: #1971e152;
    margin-top: 20px;
  }
  
  .ccontent h3 {
    color: #292c7d;
    font-size: 40px;
    /* margin-left: 20px; */
    font-weight: bold;
    height: auto;
    margin-top: 30px;
  }
  .ccontent p {
    font-size: 25px;
    /* margin-left: 20px; */
    text-align: justify;
  }
  .cimage {
    width: 100%;
    height: auto;
    margin-top: 20px;
    background-color: #1971e152;
  }
  .cimage img {
    width: 100%;
    padding: 40px 20px 0px 20px;
    height: 240px;
  }
  .courses5 {
    padding: 0px !important;
  }    
  #h {
    width: 100%;
    height: auto;
    letter-spacing: normal;
    text-align: center;
    background-color: #292C7D;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px;
    text-align: center; 
    color: white;
  }
  