<!-- <body> -->
<!-- <div data-aos="zoom-in" data-aos-delay="2000" data-aos-offset="100"></div> -->
<div class="container-fluid courses5">
    <app-navbar></app-navbar>
    <h1 class="sub-head">{{category.title}}</h1>
    <!-- <div class="container-fluid"> -->
    <div class="row">
        <div class="col-lg-8 ccontent">
            <p style="padding: 10px;">
                {{category.description}}
            </p>
        </div>
        <div class="col-lg-4 cimage">
            <img [src]='category.imagePath' [alt]='category.title'>
        </div>
    </div>
    <!-- </div> -->
    <!-- <h1 id="h" >Sub Programs:</h1> -->

    <!-- <div class=swiper-container> -->
    <app-carousel></app-carousel>
    <!-- <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div> -->
    <!-- </div> -->
</div>






<!---footer section start--->

<!---------------------FOOTER STARTS--------------------->
<app-footer></app-footer>
<!-- </div> -->
<!-- </body> -->
<!-------------------FOOTER END-------------------------->
