html,body{margin: 0;padding: 0;overflow-x: hidden;width: 100%;height: 100%;}
.contact{
	margin-top: 20px;
}
#cname{
	font-weight: bold;
	color: 	#292C7D;
	text-align: center;
	padding: 10px 0px 10px 0px;
}
.contact5{
	margin-top: 20px;
}
.form-group{
	padding-top: 20px;
	font-weight: bold;
}
.csub{
	margin-left: 400px;background-color: #D99539;
	width: 100px;
	height: 50px;
	font-weight: bold;
	border:none;
	border-radius: 10px;
	box-shadow: 0px 2px 2px 0px;
}
@media (max-width: 500px){
	#first2 input{
		width: 100%;
	}
	#cname{
		font-size: 25px !important;
	}
	#coname{
		font-size: 20px;
	}
	.csub{
		margin-left: 107px !important;
	}
}