main {
    margin: auto;
}

h2 {
    margin-left: 150px;
    padding-right: 0px;
    color: rgb(110, 12, 223);
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
}

.info {
    margin: 20px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
}

.slider {
    width: "70%";
    height: "30%";
    align-self: flex-end;
}

.content {
    padding-top: 100px;
    margin: auto;
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    background-color: #514edf;
}

.stepper {
    margin: auto;
    width: 100%;
    text-align: center;
}

.mat-tab-label {
    margin: auto;
    min-width: 25px !important;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: x-large;
}

.coursediv {
    min-height: 300px;
}


/* Styles for the active tab label */

.mat-tab-label.mat-tab-label-active {
    margin: auto;
    min-width: 25px !important;
    background-color: #514edf;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.course-card {
    max-width: 400px;
}

li {
    list-style-position: inside;
    list-style-type: armenian;
    cursor: pointer;
}

.course-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}