<!-- <div class="container"> -->
    <div fxLayout="row" fxLayout.md="col" fxLayoutAlign="start stretch">
        <div fxFlex="35">
            <img class="slider" src="../../../assets/images/academy/show16.png">
        </div>
        <div fxFlex="65">
            <h2>OUR PROGRAMS</h2>
        </div>
    </div>
<!-- </div> -->
<div class="content">
    <p class="info">Drive Your Transformation With Us.<br>Collabration Platform For All Technical Training Needs </p>
    <a href="#" style="color: rgb(73, 235, 10); font-weight: bold; font-size: xx-large;">Join Us Today</a>
    <br>
    <app-courses-options style="text-align: left;"></app-courses-options>

</div>
