/* .container {
    margin-top: 20px;
} */

h2 {
    margin-left: 50px;
    padding-right: 0px;
    color: rgb(110, 12, 223);
    font-family: "Montserrat", sans-serif;
    font-size: xx-large;
    /* margin-top: 15px; */
    font-weight: bolder;
    text-align: left;
}

.info {
    /* margin: 20px; */
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: xx-large;
    font-weight: bold;
}

.slider {
    width: "100%";
    height: auto;
    max-width: 500px;
    /* align-self: flex-start; */
    /* margin-top: 15px; */
}

.content {
    padding-top: 50px;
    margin-top: 50px;
    width: 100%;
    height: 830px;
    text-align: center;
    color: white;
    background-color: rgb(31, 29, 122);
    /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, rgb(24, 28, 87), rgb(44, 10, 233));
    /* Standard syntax (must be last) */
}

.stepper {
    margin: auto;
    width: 100%;
    text-align: center;
}

.mat-tab-label {
    margin: auto;
    min-width: 25px !important;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: x-large;
}

.coursediv {
    min-height: 300px;
}


/* Styles for the active tab label */

.mat-tab-label.mat-tab-label-active {
    margin: auto;
    min-width: 25px !important;
    background-color: #2ac77d;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.course-card {
    max-width: 400px;
}

li {
    cursor: pointer;
}

.course-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
