


    <!--Content area below video starts-->

    <div class="contentSkill" ng-app="myApp" ng-controller="myCtrl">
        <div class="row is-table-row">
        <div class="col-lg-9" id="content">
            <!--Questions start -->
            <div id="ques1">
                <p id="ques" data-toggle="collapse" data-target="#textDisp">What will you learn?<img ng-src="../assets/chevron-down.svg" style="float:right"/></p>
                <div id="textDisp" class="collapse">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
             <div id="ques2" >
                <p id="ques">Practice assignments<span class="glyphicon glyphicon-chevron-down" style="float:right"></span></p>
                <p id="textarea1">
                </p>
            </div>
             <div id="ques3">
                <p id="ques">Technical Scenarios<span class="glyphicon glyphicon-chevron-down" style="float:right"></span></p>
                <p id="textarea1">
                </p>
            </div>
             <div id="ques4">
                <p id="ques">Mini Project<span class="glyphicon glyphicon-chevron-down" style="float:right"></span></p>
                <p id="textarea1">
                </p>
            </div>
             <div id="ques5">
                <p id="ques">Discussion Forums & FAQs<span class="glyphicon glyphicon-chevron-down" style="float:right"></span></p>
                <p id="textarea1">
                </p>
            </div>

        </div>
        <!--Questions ends-->

        <!--Skills area starts-->
        <div class="col-lg-3" id="skill">
        <p id="skill"> Skills you learn</p>
        <button id="btn-skill" type="button" class="btn btn-default">HTML</button>
        <button id="btn-skill" type="button" class="btn btn-default">CSS</button>
        <button id="btn-skill" type="button" class="btn btn-default">Graphics</button>
        <button id="btn-skill" type="button" class="btn btn-default">UI</button>
        <button id="btn-skill" type="button" class="btn btn-default">Design</button>
        <button id="btn-skill" type="button" class="btn btn-default">Data Science</button>
        <button id="btn-skill" type="button" class="btn btn-default">App</button>
        <button id="btn-skill" type="button" class="btn btn-default">iPhone</button>
        <button id="btn-skill" type="button" class="btn btn-default">icon</button>
        <button id="btn-skill" type="button" class="btn btn-default">Web Design</button>
       <!-- Skills area ends-->
       

       <!--Doubt box starts--> 
          
            <div class="card_2">
            
                <p id="txt">Did not understand something?</p>
                <p id="txt">Ask your instructor!</p>
                
                <p><textarea rows="5" ></textarea></p>
               
                <a href id="sendDoubt">Send</a>
                </div>
            
        </div>
        <!--Doubt box ends-->
        </div>
        

        



    <!--Content area below video ends-->



