<h3 class="page-title">Skillset</h3>

<table class="table table-bordered">
    <thead>
        <tr class="table-success">
            <th>Skill</th>
            <th>Level</th>
        </tr>
    </thead>
    <tr>
        <td>Python</td>
        <td>Intermediate</td>
    </tr>
    <tr>
        <td>Java</td>
        <td>Advanced</td>
    </tr>
    <tr>
        <td>HTML</td>
        <td>Beginner</td>
    </tr>

</table>
<div class="row">
    <button class="btn btn-dark back-btn" routerLink="/skills">Back</button>
</div>
