<h3 class="page-title">Add/Update/Delete Skill</h3>
<form>
    <div class="form-group">
        <label>Skill</label>
        <input type="text" class="form-control" placeholder="Enter Your Skill">
    </div>
    <div class="form-group">
        <label>Level</label>
        <select class="form-control">
            <option>Beginner</option>
            <option>Intermediate</option>
            <option>Advanced</option>
        </select>
    </div>
    <div class="button-container"><button class="btn btn-success add-btn" routerLink="/skills/skillset">Add Skill</button>
    <button class="btn btn-warning add-btn" routerLink="/skills/skillset">Update Skill</button>
    <button class="btn btn-danger add-btn" routerLink="/skills/skillset">Delete Skill</button></div>
</form>

<div class="row">
    <button class="btn btn-dark back-btn" routerLink="/skills">Back</button>
</div>

