.page-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 35%;
}
.back-btn{
    margin-top:10px;
}
.add-btn{
    display: inline-block;
    margin-left: 20px;
}

.button-container{
    margin-left: 200px;
}